<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DATA-WRANGLING" data-toc-modified-id="DATA-WRANGLING-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>DATA WRANGLING</a></span></li><li><span><a href="#STAGE-1:-Data-Discovery" data-toc-modified-id="STAGE-1:-Data-Discovery-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>STAGE 1: Data Discovery</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Define-a-Work-Directory" data-toc-modified-id="Define-a-Work-Directory-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Define a Work Directory</a></span></li><li><span><a href="#Modifying-the-WD-path" data-toc-modified-id="Modifying-the-WD-path-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Modifying the WD path</a></span></li><li><span><a href="#Reading-Files" data-toc-modified-id="Reading-Files-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Reading Files</a></span><ul class="toc-item"><li><span><a href="#Read-CSV-files" data-toc-modified-id="Read-CSV-files-2.0.4.1"><span class="toc-item-num">2.0.4.1&nbsp;&nbsp;</span>Read CSV files</a></span></li><li><span><a href="#Read-CSV-File-from-External-URL" data-toc-modified-id="Read-CSV-File-from-External-URL-2.0.4.2"><span class="toc-item-num">2.0.4.2&nbsp;&nbsp;</span>Read CSV File from External URL</a></span></li><li><span><a href="#Read_CSV:-Addtitional-Functions:" data-toc-modified-id="Read_CSV:-Addtitional-Functions:-2.0.4.3"><span class="toc-item-num">2.0.4.3&nbsp;&nbsp;</span>Read_CSV: Addtitional Functions:</a></span></li><li><span><a href="#Read-XLSX-files" data-toc-modified-id="Read-XLSX-files-2.0.4.4"><span class="toc-item-num">2.0.4.4&nbsp;&nbsp;</span>Read XLSX files</a></span></li><li><span><a href="#Read-TXT-files" data-toc-modified-id="Read-TXT-files-2.0.4.5"><span class="toc-item-num">2.0.4.5&nbsp;&nbsp;</span>Read TXT files</a></span></li><li><span><a href="#Read-Delimited-files" data-toc-modified-id="Read-Delimited-files-2.0.4.6"><span class="toc-item-num">2.0.4.6&nbsp;&nbsp;</span>Read Delimited files</a></span></li><li><span><a href="#Read-JSON-files" data-toc-modified-id="Read-JSON-files-2.0.4.7"><span class="toc-item-num">2.0.4.7&nbsp;&nbsp;</span>Read JSON files</a></span></li><li><span><a href="#Read-ORC-files" data-toc-modified-id="Read-ORC-files-2.0.4.8"><span class="toc-item-num">2.0.4.8&nbsp;&nbsp;</span>Read ORC files</a></span></li><li><span><a href="#Read-AVRO-files" data-toc-modified-id="Read-AVRO-files-2.0.4.9"><span class="toc-item-num">2.0.4.9&nbsp;&nbsp;</span>Read AVRO files</a></span></li><li><span><a href="#Read-ZIP-files" data-toc-modified-id="Read-ZIP-files-2.0.4.10"><span class="toc-item-num">2.0.4.10&nbsp;&nbsp;</span>Read ZIP files</a></span></li></ul></li><li><span><a href="#Dimensions---df.ndim" data-toc-modified-id="Dimensions---df.ndim-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>Dimensions - df.ndim</a></span></li><li><span><a href="#Size---df.size" data-toc-modified-id="Size---df.size-2.0.6"><span class="toc-item-num">2.0.6&nbsp;&nbsp;</span>Size - df.size</a></span></li><li><span><a href="#Column-Names---df.columns" data-toc-modified-id="Column-Names---df.columns-2.0.7"><span class="toc-item-num">2.0.7&nbsp;&nbsp;</span>Column Names - df.columns</a></span></li><li><span><a href="#Shape---df.shape" data-toc-modified-id="Shape---df.shape-2.0.8"><span class="toc-item-num">2.0.8&nbsp;&nbsp;</span>Shape - df.shape</a></span></li><li><span><a href="#Head---Tail---df.<head,tail>(n)" data-toc-modified-id="Head---Tail---df.<head,tail>(n)-2.0.9"><span class="toc-item-num">2.0.9&nbsp;&nbsp;</span>Head - Tail - df.&lt;head,tail&gt;(n)</a></span></li><li><span><a href="#Info---df.info()" data-toc-modified-id="Info---df.info()-2.0.10"><span class="toc-item-num">2.0.10&nbsp;&nbsp;</span>Info - df.info()</a></span></li><li><span><a href="#Type---type(df)" data-toc-modified-id="Type---type(df)-2.0.11"><span class="toc-item-num">2.0.11&nbsp;&nbsp;</span>Type - type(df)</a></span></li><li><span><a href="#Describe---df.describe(include=[<>,<>,<>])" data-toc-modified-id="Describe---df.describe(include=[<>,<>,<>])-2.0.12"><span class="toc-item-num">2.0.12&nbsp;&nbsp;</span>Describe - df.describe(include=[&lt;&gt;,&lt;&gt;,&lt;&gt;])</a></span></li><li><span><a href="#Value_Counts---df.value_counts()" data-toc-modified-id="Value_Counts---df.value_counts()-2.0.13"><span class="toc-item-num">2.0.13&nbsp;&nbsp;</span>Value_Counts - df.value_counts()</a></span></li><li><span><a href="#Correlation-Analysis---df.corr" data-toc-modified-id="Correlation-Analysis---df.corr-2.0.14"><span class="toc-item-num">2.0.14&nbsp;&nbsp;</span>Correlation Analysis - df.corr</a></span></li></ul></li></ul></li><li><span><a href="#STAGE-2:-Data-Structuring" data-toc-modified-id="STAGE-2:-Data-Structuring-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>STAGE 2: Data Structuring</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Rename-Columns---df.rename({})" data-toc-modified-id="Rename-Columns---df.rename({})-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Rename Columns - df.rename({})</a></span></li><li><span><a href="#Rearrange-Columns---df[[]]" data-toc-modified-id="Rearrange-Columns---df[[]]-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Rearrange Columns - df[[]]</a></span></li><li><span><a href="#Text-Data-Functions" data-toc-modified-id="Text-Data-Functions-3.0.3"><span class="toc-item-num">3.0.3&nbsp;&nbsp;</span>Text Data Functions</a></span></li><li><span><a href="#Date-&amp;-Time" data-toc-modified-id="Date-&amp;-Time-3.0.4"><span class="toc-item-num">3.0.4&nbsp;&nbsp;</span>Date &amp; Time</a></span></li></ul></li></ul></li><li><span><a href="#STAGE-3:-Data-Cleaning" data-toc-modified-id="STAGE-3:-Data-Cleaning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>STAGE 3: Data Cleaning</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Null-Values---df.isna().sum()" data-toc-modified-id="Null-Values---df.isna().sum()-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Null Values - df.isna().sum()</a></span></li><li><span><a href="#Replace-Null-Values---fillna()------{parameters:-<&quot;NA&quot;,0>}" data-toc-modified-id="Replace-Null-Values---fillna()------{parameters:-<&quot;NA&quot;,0>}-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span>Replace Null Values - fillna()      {parameters: &lt;"NA",0&gt;}</a></span></li><li><span><a href="#Eliminate-Null-Values---dropna()" data-toc-modified-id="Eliminate-Null-Values---dropna()-4.0.3"><span class="toc-item-num">4.0.3&nbsp;&nbsp;</span>Eliminate Null Values - dropna()</a></span></li></ul></li></ul></li><li><span><a href="#STAGE-4:-Data-Enriching" data-toc-modified-id="STAGE-4:-Data-Enriching-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>STAGE 4: Data Enriching</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Calculated-Columns" data-toc-modified-id="Calculated-Columns-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Calculated Columns</a></span></li><li><span><a href="#Drop-Duplicate-Values---df.drop_duplicates()" data-toc-modified-id="Drop-Duplicate-Values---df.drop_duplicates()-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>Drop Duplicate Values - df.drop_duplicates()</a></span></li><li><span><a href="#Pivot-Tables---df.pivot_table()" data-toc-modified-id="Pivot-Tables---df.pivot_table()-5.0.3"><span class="toc-item-num">5.0.3&nbsp;&nbsp;</span>Pivot Tables - df.pivot_table()</a></span></li><li><span><a href="#Freezepanes---df.set_index()" data-toc-modified-id="Freezepanes---df.set_index()-5.0.4"><span class="toc-item-num">5.0.4&nbsp;&nbsp;</span>Freezepanes - df.set_index()</a></span></li><li><span><a href="#Selection-Columns-by-Label----df.loc()" data-toc-modified-id="Selection-Columns-by-Label----df.loc()-5.0.5"><span class="toc-item-num">5.0.5&nbsp;&nbsp;</span>Selection Columns by Label  - df.loc()</a></span></li><li><span><a href="#Select-Specific-Columns" data-toc-modified-id="Select-Specific-Columns-5.0.6"><span class="toc-item-num">5.0.6&nbsp;&nbsp;</span>Select Specific Columns</a></span></li><li><span><a href="#Selection-Columns-by-Position---df.iloc()" data-toc-modified-id="Selection-Columns-by-Position---df.iloc()-5.0.7"><span class="toc-item-num">5.0.7&nbsp;&nbsp;</span>Selection Columns by Position - df.iloc()</a></span></li><li><span><a href="#Filter-Datasets" data-toc-modified-id="Filter-Datasets-5.0.8"><span class="toc-item-num">5.0.8&nbsp;&nbsp;</span>Filter Datasets</a></span></li><li><span><a href="#Filter-Top-10-(Discrete-Objects)" data-toc-modified-id="Filter-Top-10-(Discrete-Objects)-5.0.9"><span class="toc-item-num">5.0.9&nbsp;&nbsp;</span>Filter Top 10 (Discrete Objects)</a></span></li><li><span><a href="#Sort-Values---df.sort()" data-toc-modified-id="Sort-Values---df.sort()-5.0.10"><span class="toc-item-num">5.0.10&nbsp;&nbsp;</span>Sort Values - df.sort()</a></span></li><li><span><a href="#Gruop-By---df[[]].groupby()" data-toc-modified-id="Gruop-By---df[[]].groupby()-5.0.11"><span class="toc-item-num">5.0.11&nbsp;&nbsp;</span>Gruop By - df[[]].groupby()</a></span></li><li><span><a href="#If---Elif---Else" data-toc-modified-id="If---Elif---Else-5.0.12"><span class="toc-item-num">5.0.12&nbsp;&nbsp;</span>If - Elif - Else</a></span></li><li><span><a href="#Bucles-For" data-toc-modified-id="Bucles-For-5.0.13"><span class="toc-item-num">5.0.13&nbsp;&nbsp;</span>Bucles For</a></span></li><li><span><a href="#Lists-[-]" data-toc-modified-id="Lists-[-]-5.0.14"><span class="toc-item-num">5.0.14&nbsp;&nbsp;</span>Lists [ ]</a></span></li><li><span><a href="#Tuples-(-)" data-toc-modified-id="Tuples-(-)-5.0.15"><span class="toc-item-num">5.0.15&nbsp;&nbsp;</span>Tuples ( )</a></span></li><li><span><a href="#Dictionaries-{-}" data-toc-modified-id="Dictionaries-{-}-5.0.16"><span class="toc-item-num">5.0.16&nbsp;&nbsp;</span>Dictionaries { }</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-5.0.17"><span class="toc-item-num">5.0.17&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Functions-with-No-Arguments" data-toc-modified-id="Functions-with-No-Arguments-5.0.17.1"><span class="toc-item-num">5.0.17.1&nbsp;&nbsp;</span>Functions with No Arguments</a></span></li><li><span><a href="#Functions-with-One-Single-Argument" data-toc-modified-id="Functions-with-One-Single-Argument-5.0.17.2"><span class="toc-item-num">5.0.17.2&nbsp;&nbsp;</span>Functions with One-Single Argument</a></span></li><li><span><a href="#Functions-with-Multiple-Arguments." data-toc-modified-id="Functions-with-Multiple-Arguments.-5.0.17.3"><span class="toc-item-num">5.0.17.3&nbsp;&nbsp;</span>Functions with Multiple Arguments.</a></span></li></ul></li><li><span><a href="#Loops" data-toc-modified-id="Loops-5.0.18"><span class="toc-item-num">5.0.18&nbsp;&nbsp;</span>Loops</a></span></li><li><span><a href="#Append---df.append()" data-toc-modified-id="Append---df.append()-5.0.19"><span class="toc-item-num">5.0.19&nbsp;&nbsp;</span>Append - df.append()</a></span></li><li><span><a href="#Concatenate----pd.concatenate()" data-toc-modified-id="Concatenate----pd.concatenate()-5.0.20"><span class="toc-item-num">5.0.20&nbsp;&nbsp;</span>Concatenate  - pd.concatenate()</a></span></li><li><span><a href="#Joins" data-toc-modified-id="Joins-5.0.21"><span class="toc-item-num">5.0.21&nbsp;&nbsp;</span>Joins</a></span></li><li><span><a href="#Subsets" data-toc-modified-id="Subsets-5.0.22"><span class="toc-item-num">5.0.22&nbsp;&nbsp;</span>Subsets</a></span></li><li><span><a href="#Convert-List-into-Arrays-(with-Numpy)" data-toc-modified-id="Convert-List-into-Arrays-(with-Numpy)-5.0.23"><span class="toc-item-num">5.0.23&nbsp;&nbsp;</span>Convert List into Arrays (with Numpy)</a></span></li><li><span><a href="#Stack-Arrays" data-toc-modified-id="Stack-Arrays-5.0.24"><span class="toc-item-num">5.0.24&nbsp;&nbsp;</span>Stack Arrays</a></span></li><li><span><a href="#Summarize-Figures" data-toc-modified-id="Summarize-Figures-5.0.25"><span class="toc-item-num">5.0.25&nbsp;&nbsp;</span>Summarize Figures</a></span></li><li><span><a href="#Arrays-(Vectors)-with-Numpy" data-toc-modified-id="Arrays-(Vectors)-with-Numpy-5.0.26"><span class="toc-item-num">5.0.26&nbsp;&nbsp;</span>Arrays (Vectors) with Numpy</a></span></li></ul></li></ul></li><li><span><a href="#STAGE-5:-Data-Publishing" data-toc-modified-id="STAGE-5:-Data-Publishing-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>STAGE 5: Data Publishing</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Writing-Files" data-toc-modified-id="Writing-Files-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>Writing Files</a></span></li><li><span><a href="#Pushing-Jupyter-Notebooks-in-Github/Gitlab" data-toc-modified-id="Pushing-Jupyter-Notebooks-in-Github/Gitlab-6.0.2"><span class="toc-item-num">6.0.2&nbsp;&nbsp;</span>Pushing Jupyter Notebooks in Github/Gitlab</a></span></li></ul></li></ul></li><li><span><a href="#Annexes:" data-toc-modified-id="Annexes:-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Annexes:</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#01.-Data-Wrangling-Best-Practices" data-toc-modified-id="01.-Data-Wrangling-Best-Practices-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>01. Data Wrangling Best Practices</a></span></li><li><span><a href="#Help-Function---help()" data-toc-modified-id="Help-Function---help()-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Help Function - help()</a></span></li><li><span><a href="#Print-Function---print('-')" data-toc-modified-id="Print-Function---print('-')-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Print Function - print(' ')</a></span></li><li><span><a href="#Type()" data-toc-modified-id="Type()-7.0.4"><span class="toc-item-num">7.0.4&nbsp;&nbsp;</span>Type()</a></span></li></ul></li></ul></li></ul></div>

# DATA WRANGLING
Data Wrangling is the process of cleaning, organizing, structuring, and enriching the raw data to make it more useful for analysis and visualization purposes. With more unstructured data, it is essential to perform Data Wrangling for making smarter and more accurate business decisions. Data Wrangling usually involves manually converting and mapping data from its raw state to another format that can be used for business purposes and is convenient for the consumption and organization of the data.

Data Wrangling Stages:

* Step 1: Data Discovery
* Step 2: Data Structuring
* Step 3: Data Cleaning
* Step 4: Data Enriching
* Step 5: Data Validating
* Step 6: Data Publishing

# STAGE 1: Data Discovery

The first step in the Data Wrangling process is Discovery. This is an all-encompassing term for understanding or getting familiar with your data. You must take a look at the data you have and think about how you would like it organized to make it easier to consume and analyze. 

So, you begin with an Unruly Crowd of Data collected from multiple sources in a wide range of formats. At this stage, the goal is to compile the Disparate, Siloed data sources and configure each of them so they can be understood and examined to find patterns and trends in the data.

https://hevodata.com/learn/data-wrangling/#s1

### Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np

print('pandas', pd.__version__)

pandas 1.4.4

In [2]:
# Additional libraries functions:
# Consult library functions 
print(dir(pd))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

### Define a Work Directory

In [2]:
wd_path = os.path.abspath(
    'C:\\Users\\Asus VivoBook\\Dropbox\\My PC (DESKTOP-GN5CQHE)\\Desktop\\Documentos\\The Vault\\Python\\PyWD'
    )

In [3]:
# Check if the WD exists
if not os.path.exists(wd_path):
    # create the directory if it doesn't exist
    os.makedirs(wd_path)

In [4]:
# Get the WD
os.getcwd()

'C:\\Users\\Asus VivoBook\\AnthonyCRENG28\\Definitive_Guide'

### Modifying the WD path
####### The following instruction modifies the Working Directory path:

os.chdir("C:\\Users\\DELL\\Documents\\")
os.getcwd()

### Reading Files

#### Read CSV files
pd.read_csv is a function in the panda's library in Python that is used to read a CSV(Comma Separated Values) file and convert it into a pandas DataFrame.

###### Method_01: With Pandas

In [5]:
df_csv = pd.read_csv('C:\\Users\\Asus VivoBook\\Dropbox\\My PC (DESKTOP-GN5CQHE)\\Desktop\\Documentos\\The Vault\\Python\\PyWD\\Global Pollution.csv')

C:\Users\Asus VivoBook\AppData\Local\Temp\ipykernel_17268\216861829.py:2: DtypeWarning: Columns (5,21,22,23,24,34,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df_csv = pd.read_csv('C:\\Users\\Asus VivoBook\\Dropbox\\My PC (DESKTOP-GN5CQHE)\\Desktop\\Documentos\\The Vault\\Python\\PyWD\\Global Pollution.csv')

###### Method_02: Without Pandas:

In [ ]:
import csv
with open("E:/MLDataSets/emp10.csv") as a:
 d = csv.DictReader(a)
 l=list(d)

#### Read CSV File from External URL

In [ ]:
a = pd.read_csv("http://winterolympicsmedals.com/medals.csv")

#### Read_CSV: Addtitional Functions:

In [ ]:
###### Measure time taken to import big CSV file
With the use of verbose=True, you can capture time taken for
Tokenization, conversion and Parser memory cleanup.
emp = pd.read_csv("emp10.csv", verbose=True)

###### Define your own column names instead of header row from CSV file
emp1 = pd.read_csv("emp10.csv", skiprows=1,
names=['Emp_ID','Emp_Name','Emp_Desig','Emp_DOJ','Emp_
Sal'])
print(emp1)
skiprows = 1 means we are ignoring first row and names=
option is used to assign variable names manually.

###### Add prefix to column names
emp1 = pd.read_csv("emp10.csv", header = None,
prefix="var")
print(emp1)
In this case, we are setting var as prefix which tells python to
include this keyword before each column name.

###### Specify missing values
The na_values= options is used to set some values as blank /
missing values while importing CSV file.
emp1 = pd.read_csv("emp10.csv", na_values=['.'])
print(emp1)

###### Change column type while importing CSV
Suppose you want to change column format from int64 to
float64 while loading CSV file into Python. We can use dtype =
option for the same.
emp = pd.read_csv("emp10.csv", dtype = {"sal" : "float64"})
print(emp)
emp.info()

#### Read XLSX files

In [ ]:
path = r'C:\Users\Asus VivoBook\Dropbox\My PC (DESKTOP-GN5CQHE)\Documents\My Studies\PowerUp Institute\Python\week 01'
df = pd.ExcelFile(path+'\AdventureWorks.Xlsx').parse(sheet_name='Customer',header=0,index_col=0)

In [ ]:
###### Alternative method:
###### The read_excel() function can be used to import excel data into Python.
###### If you do not specify name of sheet in sheetname= option, it would take by default first sheet.
    
emp = pd.read_excel("E:/MLDataSets/emp10.xlsx")

#### Read TXT files

In [ ]:
####### We can use read_table() function to pull data from text file. 
####### We can also use read_csv() with sep= "\t" to read data from tabseparated file.
a = pd.read_table("E:/MLDataSets/demo.txt")
a = pd.read_csv("E:/MLDataSets/demo.csv", sep ="\t")

#### Read Delimited files

In [ ]:
###### Suppose you need to import a file that is separated with whitespaces.
mydata2 = pd.read_table("http://www.ssc.wisc.edu/~bhansen/econometrics/invest.dat", sep="\s+", header = None)

#### Read JSON files

In [ ]:
###### Load the JSON file into a Pandas dataframe
df = pd.read_json('C:\data\export.json')

###### Write the dataframe to a CSV file
df.to_csv(r'C:\data\export.csv', index=False)

###### Alternatively, you can use the os library to open the csv automatically.
import os
os.startfile('C:\data\export.csv')

#### Read ORC files

###### Method_01: pandas + pyarrow

In [ ]:
###### Read ORC files, then convert to csv format
# Open the ORC file
file = orc.ORCFile(filename)
# Read the entire ORC file into a table
table = file.read()
# Convert the table to a pandas DataFrame
df = table.to_pandas()

###### Method_02: pandas + pyarrow

In [ ]:
import pandas as pd
import pyarrow.orc as orc

with open(filename) as file:
    data = orc.ORCFile(file)
    df = data.read().to_pandas()

#### Read AVRO files

In [ ]:
###### Read AVRO files, then convert to csv format

# Open the Avro file
with open('file.avro', 'rb') as f:
    reader = fastavro.reader(f)
# Iterate over the records in the Avro file
    for record in reader:
        print(record)

#### Read ZIP files

In [ ]:
#### Read ZIP files, then convert to csv format
# Read the zip file
with zipfile.ZipFile('C:\data\jar_files.zip', "r") as zip_ref:
    zip_ref.extractall("extracted_content")

# read the extracted file into a pandas dataframe
df = pd.read_csv('extracted_content\C:\data\export.csv')

# save the dataframe as a csv file
df.to_csv("converted.csv", index=False)

### Dimensions - df.ndim

In [6]:
df_csv.ndim

2

### Size - df.size

In [7]:
df_csv.size

4514204

### Column Names - df.columns

In [8]:
df_csv.columns

Index(['X', 'Y', 'OBJECTID', 'RecordSequenceID', 'UniqueID', 'SourceID',
       'LocationFreqID', 'Location', 'Dataset', 'Organization', 'Other',
       'CountryName_FromSource', 'SubCountry_L1_FromSource',
       'SubCountry_L2_FromSource', 'Longitude1', 'Latitude1', 'Longitude2',
       'Latitude2', 'TotalWidth_m', 'TotalLength_m', 'TotalArea_Sq_m',
       'ShorelineName', 'WaterfrontName', 'BeachAreaLandcover', 'BeachType',
       'EventType', 'TotalVolunteers', 'DateOriginal', 'DateStandardized',
       'MonthYear', 'Year', 'MonthNum', 'Month', 'Day', 'StartTime', 'DOW',
       'FieldObsevations', 'DebrisDescription', 'Totalltems_EventRecord',
       'TotalClassifiedItems_EC2020', 'PCT_PlasticAndFoam',
       'PCT_Glass_Rubber_Lumber_Metal', 'SUM_Hard_PlasticBeverageBottle',
       'SUM_Hard_OtherPlasticBottle', 'SUM_HardOrSoft_PlasticBottleCap',
       'SUM_PlasticOrFoamFoodContainer', 'SUM_Hard_BucketOrCrate',
       'SUM_Hard_Lighter', 'SUM_OtherHardPlastic',
       'SUM_PlasticOrFoamPlatesBowlsCup', 'SUM_HardSoft_PersonalCareProduc',
       'SUM_HardSoftLollipopStick_EarBu', 'SUM_Soft_Bag',
       'SUM_Soft_WrapperOrLabel', 'SUM_Soft_Straw', 'SUM_Soft_OtherPlastic',
       'SUM_Soft_CigaretteButts', 'SUM_Soft_StringRingRibbon', 'Fishing_Net',
       'SUM_FishingLineLureRope', 'Fishing_BuoysAndFloats',
       'SUM_Foam_OtherPlasticDebris', 'SUM_OtherPlasticDebris', 'NAME',
       'COUNTRY', 'ISO_CODE', 'ISO_CC', 'ISO_SUB', 'ADMINTYPE', 'DISPUTED',
       'NOTES', 'AUTONOMOUS', 'COUNTRYAFF', 'CONTINENT', 'LAND_TYPE',
       'LAND_RANK', 'Shape__Area', 'Shape__Length', 'Count_', 'Soft_Sheets2',
       'PlasticStraps2', 'FishingGlowSticks2', 'FishingOtherPlasticDebris2'],
      dtype='object')

### Shape - df.shape

In [9]:
df_csv.shape

(54388, 83)

### Head - Tail - df.<head,tail>(n)

In [10]:
df_csv.head(3)

,X,Y,OBJECTID,RecordSequenceID,UniqueID,SourceID,LocationFreqID,Location,Dataset,Organization,...,CONTINENT,LAND_TYPE,LAND_RANK,Shape__Area,Shape__Length,Count_,Soft_Sheets2,PlasticStraps2,FishingGlowSticks2,FishingOtherPlasticDebris2
0,-123.435585,38.690549,1,349,MDP-349,40-3153,Blackpoint Beach (Lon -123.4355847 Lat 38.6905...,"Blackpoint Beach, Sonoma, CA, United States",NOAA MDMAP Accumulation Survey,California Coast National Monument Task Force,...,North America,Primary land,5.0,41.506355,56.81446,1,0,0,0,0
1,-123.484406,38.728707,2,351,MDP-351,37-3164,Dune Drift Beach (Lon -123.4844062 Lat 38.7287...,"Dune Drift Beach, Sonoma, CA, United States",NOAA MDMAP Accumulation Survey,California Coast National Monument Task Force,...,North America,Primary land,5.0,41.506355,56.81446,1,0,0,0,0
2,-123.456400,38.713200,3,354,MDP-354,59-3175,Ohlson Beach (Lon -123.4564 Lat 38.7132),"Ohlson Beach, Sonoma, CA, United States",NOAA MDMAP Accumulation Survey,California Coast National Monument Task Force,...,North America,Primary land,5.0,41.506355,56.81446,1,0,0,0,0

In [11]:
df_csv.tail(3)

,X,Y,OBJECTID,RecordSequenceID,UniqueID,SourceID,LocationFreqID,Location,Dataset,Organization,...,CONTINENT,LAND_TYPE,LAND_RANK,Shape__Area,Shape__Length,Count_,Soft_Sheets2,PlasticStraps2,FishingGlowSticks2,FishingOtherPlasticDebris2
54385,-124.14953,40.86556,54878,61767,TID-56241,109779,TIDES (Lon -124.14953098159 Lat 40.865556085634),"Humboldt County, CA, USA",Oecan Conservancy TIDES Report,NEC CCD 2015,...,North America,Primary land,5.0,41.506355,56.81446,1,0,0,0,0
54386,-124.12611,40.95918,54879,61768,TID-56242,109808,TIDES (Lon -124.12610524606 Lat 40.959183318067),"Humboldt County, CA, USA",Oecan Conservancy TIDES Report,NEC CCD 2015,...,North America,Primary land,5.0,41.506355,56.81446,1,0,0,0,0
54387,-124.13212,40.93425,54880,61769,TID-56243,109809,TIDES (Lon -124.13212255857 Lat 40.93424666982),"Humboldt County, CA, USA",Oecan Conservancy TIDES Report,NEC CCD 2015,...,North America,Primary land,5.0,41.506355,56.81446,1,0,1,0,0

### Info - df.info()
Is a method in pandas that is used to get a concise summary of theDataFrame, including the number of non-null values in each column, the data types ofeach column, and the memory usage of the DataFrame.

In [7]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54388 entries, 0 to 54387
Data columns (total 83 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   X                                54388 non-null  float64
 1   Y                                54388 non-null  float64
 2   OBJECTID                         54388 non-null  int64
 3   RecordSequenceID                 54388 non-null  int64
 4   UniqueID                         54388 non-null  object
 5   SourceID                         51970 non-null  object
 6   LocationFreqID                   54388 non-null  object
 7   Location                         51142 non-null  object
 8   Dataset                          54388 non-null  object
 9   Organization                     43588 non-null  object
 10  Other                            0 non-null      float64
 11  CountryName_FromSource           50412 non-null  object
 12  SubCountry_L1_FromSource         48291 non-null  object
 13  SubCountry_L2_FromSource         48724 non-null  object
 14  Longitude1                       54388 non-null  float64
 15  Latitude1                        54388 non-null  float64
 16  Longitude2                       4539 non-null   float64
 17  Latitude2                        4539 non-null   float64
 18  TotalWidth_m                     2121 non-null   float64
 19  TotalLength_m                    54388 non-null  float64
 20  TotalArea_Sq_m                   0 non-null      float64
 21  ShorelineName                    4539 non-null   object
 22  WaterfrontName                   1306 non-null   object
 23  BeachAreaLandcover               1110 non-null   object
 24  BeachType                        1114 non-null   object
 25  EventType                        54388 non-null  object
 26  TotalVolunteers                  51970 non-null  float64
 27  DateOriginal                     51970 non-null  object
 28  DateStandardized                 54388 non-null  object
 29  MonthYear                        54388 non-null  object
 30  Year                             54388 non-null  int64
 31  MonthNum                         54388 non-null  int64
 32  Month                            54388 non-null  object
 33  Day                              54388 non-null  int64
 34  StartTime                        2121 non-null   object
 35  DOW                              54388 non-null  object
 36  FieldObsevations                 1064 non-null   object
 37  DebrisDescription                1123 non-null   object
 38  Totalltems_EventRecord           54388 non-null  int64
 39  TotalClassifiedItems_EC2020      54388 non-null  int64
 40  PCT_PlasticAndFoam               54388 non-null  float64
 41  PCT_Glass_Rubber_Lumber_Metal    54388 non-null  float64
 42  SUM_Hard_PlasticBeverageBottle   54388 non-null  int64
 43  SUM_Hard_OtherPlasticBottle      54388 non-null  int64
 44  SUM_HardOrSoft_PlasticBottleCap  54388 non-null  int64
 45  SUM_PlasticOrFoamFoodContainer   53580 non-null  float64
 46  SUM_Hard_BucketOrCrate           54388 non-null  int64
 47  SUM_Hard_Lighter                 53302 non-null  float64
 48  SUM_OtherHardPlastic             54388 non-null  int64
 49  SUM_PlasticOrFoamPlatesBowlsCup  54388 non-null  int64
 50  SUM_HardSoft_PersonalCareProduc  54388 non-null  int64
 51  SUM_HardSoftLollipopStick_EarBu  54388 non-null  int64
 52  SUM_Soft_Bag                     54388 non-null  int64
 53  SUM_Soft_WrapperOrLabel          54388 non-null  int64
 54  SUM_Soft_Straw                   53489 non-null  float64
 55  SUM_Soft_OtherPlastic            54388 non-null  int64
 56  SUM_Soft_CigaretteButts          53849 non-null  float64
 57  SUM_Soft_StringRingRibbon        54388 non-null  int64
 58  Fishing_Net                      54388 non-null  int64
 59  SUM_FishingLineLureRope          54388 non-null  int64
 60  Fishing_BuoysAndFloats           54388 non-null  int64
 61  SUM_Foam_OtherPlasticDebris      54388 non-null  int64
 62  SUM_OtherPlasticDebris           51970 non-null  float64
 63  NAME                             53716 non-null  object
 64  COUNTRY                          53716 non-null  object
 65  ISO_CODE                         53716 non-null  object
 66  ISO_CC                           53715 non-null  object
 67  ISO_SUB                          53705 non-null  object
 68  ADMINTYPE                        53716 non-null  object
 69  DISPUTED                         53716 non-null  float64
 70  NOTES                            49498 non-null  object
 71  AUTONOMOUS                       53716 non-null  float64
 72  COUNTRYAFF                       53716 non-null  object
 73  CONTINENT                        53716 non-null  object
 74  LAND_TYPE                        53716 non-null  object
 75  LAND_RANK                        53716 non-null  float64
 76  Shape__Area                      53716 non-null  float64
 77  Shape__Length                    53716 non-null  float64
 78  Count_                           54388 non-null  int64
 79  Soft_Sheets2                     54388 non-null  int64
 80  PlasticStraps2                   54388 non-null  int64
 81  FishingGlowSticks2               54388 non-null  int64
 82  FishingOtherPlasticDebris2       54388 non-null  int64
dtypes: float64(23), int64(28), object(32)
memory usage: 34.4+ MB

### Type - type(df)

In [13]:
type(df_csv)

pandas.core.frame.DataFrame

### Describe - df.describe(include=[<>,<>,<>]) 

####### Descriptive Statistics

####### Descriptive statistics are brief informational coefficients that summarize a given data set, which can be either a representation of the entire population or a sample of a population. Descriptive statistics are broken down into measures of central tendency and measures of variability (spread). 

####### Measures of Central tendency: the mean, median, and mode
####### Measures of Variability: standard deviation, variance, minimum and maximum variables, kurtosis, and skewness.

####### https://www.investopedia.com/terms/d/descriptive_statistics.asp

####### Example:
df.describe(include={'x','x','x']) 
where x = Parameters: <object, bool, all>

In [24]:
df_csv.describe(include=['object', "bool"])

,UniqueID,SourceID,LocationFreqID,Location,Dataset,Organization,CountryName_FromSource,SubCountry_L1_FromSource,SubCountry_L2_FromSource,ShorelineName,...,NAME,COUNTRY,ISO_CODE,ISO_CC,ISO_SUB,ADMINTYPE,NOTES,COUNTRYAFF,CONTINENT,LAND_TYPE
count,54388,51970,54388,51142,54388,43588,50412,48291,48724,4539,...,53716,53716,53716,53715,53705,53716,49498,53716,53716,53716
unique,54388,51968,42754,4525,3,21143,176,905,3147,1092,...,900,157,907,141,470,63,29,131,8,4
top,MDP-349,9-Nov,TIDES (Lon 104.20508 Lat 2.78197),"Tioman Island, Pahang, Malaysia",Oecan Conservancy TIDES Report,Despacito,USA,Florida,Tioman Island,Thur_Schoenenberg_SchaerA,...,Florida,United States,USFL,US,FL,State,,United States,North America,Primary land
freq,1,2,2037,2080,49849,2037,28501,8110,2080,58,...,8364,30964,8364,31970,8364,36011,48300,31970,37057,43124

In [17]:
df_csv.describe(include='all')

,X,Y,OBJECTID,RecordSequenceID,UniqueID,SourceID,LocationFreqID,Location,Dataset,Organization,...,CONTINENT,LAND_TYPE,LAND_RANK,Shape__Area,Shape__Length,Count_,Soft_Sheets2,PlasticStraps2,FishingGlowSticks2,FishingOtherPlasticDebris2
count,54388.000000,54388.000000,54388.000000,54388.000000,54388,51970,54388,51142,54388,43588,...,53716,53716,53716.000000,53716.000000,53716.000000,54388.0,54388.000000,54388.000000,54388.000000,54388.000000
unique,NaN,NaN,NaN,NaN,54388,51968,42754,4525,3,21143,...,8,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,MDP-349,9-Nov,TIDES (Lon 104.20508 Lat 2.78197),"Tioman Island, Pahang, Malaysia",Oecan Conservancy TIDES Report,Despacito,...,North America,Primary land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,1,2,2037,2080,49849,2037,...,37057,43124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,-50.623321,30.010745,27664.186751,31475.197249,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.456791,20.262876,42.238083,1.0,0.126554,3.337207,0.016272,0.325403
std,77.093156,18.598370,15737.607977,17860.446270,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.127345,35.415710,49.573144,0.0,2.921683,39.447513,0.819717,8.762157
min,-174.018918,-62.918120,1.000000,349.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.000000,0.000057,0.035621,1.0,0.000000,0.000000,0.000000,0.000000
25%,-95.305050,25.794117,14089.750000,15956.750000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.000000,0.308655,7.218285,1.0,0.000000,0.000000,0.000000,0.000000
50%,-80.051825,33.710430,27686.500000,31254.500000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.000000,10.537436,32.360980,1.0,0.000000,0.000000,0.000000,0.000000
75%,-2.859105,41.688923,41283.250000,47422.250000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.000000,20.664867,56.814460,1.0,0.000000,0.000000,0.000000,0.000000
max,178.733330,79.375890,54880.000000,61769.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.000000,488.468405,1961.565144,1.0,258.000000,3974.000000,124.000000,702.000000

### Value_Counts - df.value_counts()

In [18]:
df_csv.value_counts()

Series([], dtype: int64)

### Correlation Analysis - df.corr

In [46]:
df_csv.corr

<bound method DataFrame.corr of       End of Period Loan Number                       Region Country Code  \
0         6/30/2020   IBRD01240  LATIN AMERICA AND CARIBBEAN           GT
1         6/30/2020   IBRD04870  LATIN AMERICA AND CARIBBEAN           GT
2         6/30/2020   IBRD05450  LATIN AMERICA AND CARIBBEAN           GT
3         6/30/2020   IBRD05760  LATIN AMERICA AND CARIBBEAN           GT
4         6/30/2020   IBRD07220  LATIN AMERICA AND CARIBBEAN           GT
...             ...         ...                          ...          ...
89688         44135   IBRD43170  LATIN AMERICA AND CARIBBEAN           VE
89689         44135   IBRD44000  LATIN AMERICA AND CARIBBEAN           VE
89690         44135   IBRD45030  LATIN AMERICA AND CARIBBEAN           VE
89691         44135   IBRD45720  LATIN AMERICA AND CARIBBEAN           VE
89692         44135   IBRD70620  LATIN AMERICA AND CARIBBEAN           VE

         Country                         Borrower  Guarantor Loan Type  \
0      Guatemala  Ministerio de Finanzas Públicas  Guatemala       NPL
1      Guatemala   INSTITUTO NACIONAL DE ELECTRIF  Guatemala       NPL
2      Guatemala   INSTITUTO NACIONAL DE ELECTRIF  Guatemala       NPL
3      Guatemala  Ministerio de Finanzas Públicas  Guatemala       NPL
4      Guatemala  Ministerio de Finanzas Públicas  Guatemala       NPL
...          ...                              ...        ...       ...
89688  Venezuela           MINISTERIO DE FINANZAS  Venezuela       SCL
89689  Venezuela           MINISTERIO DE FINANZAS  Venezuela       SCL
89690  Venezuela           MINISTERIO DE FINANZAS  Venezuela       SCL
89691  Venezuela           MINISTERIO DE FINANZAS  Venezuela       SCL
89692  Venezuela           MINISTERIO DE FINANZAS  Venezuela       FSL

           Loan Status Interest Rate Project ID  \
0         Fully Repaid          4.63    P007179
1         Fully Repaid             6    P007180
2         Fully Repaid          6.25    P007181
3         Fully Repaid           6.5    P007182
4         Fully Repaid          7.25    P007183
...                ...           ...        ...
89688  Fully Cancelled          4.89    P041807
89689     Fully Repaid          5.61    P040174
89690     Fully Repaid          5.09    P057601
89691     Fully Repaid          5.79    P066749
89692     Fully Repaid          -       P050495

                           Project Name      Credit_Line        Cancelled  \
0                               HIGHWAY    18,200,000.00           -
1                  POWER I (JURUN-MAUNA    15,000,000.00           765.39
2                  POWER II (ESCUINTLA)     7,000,000.00           -
3                             EDUCATION     6,300,000.00           -
4                             LIVESTOCK     4,000,000.00           -
...                                 ...              ...              ...
89688   VENEZUELA PUB SEC LEG & ADM MOD   $8,000,000.00    $8,000,000.00
89689           VE CARACAS SLUM UPGRADE  $60,700,000.00   $29,001,347.53
89690  VE PUBLIC EXPENDITURE MANAGEMENT  $20,000,000.00    $7,825,840.56
89691  VE MILLENNIUM SCIENCE INITIATIVE   $5,000,000.00      $233,537.18
89692  VE-  CARACAS METROPOLITAN HEALTH  $30,300,000.00   $26,444,937.03

             Disbursed Sold 3rd Party Agreement Signing Date Closed Date
0        18,200,000.00   2,731,000.00              7/29/1955  12/31/1960
1        14,999,234.61      50,000.00              3/10/1967  12/31/1972
2         7,000,000.00         -                   6/28/1968  12/31/1974
3         6,300,000.00         -                  12/16/1968   7/31/1975
4         4,000,000.00     303,194.45              2/10/1971   6/30/1978
...                ...            ...                    ...         ...
89688            -              -                      36145       38808
89689  $31,698,652.47           -                      36145       38898
89690  $12,284,556.28           -                      36616       38898
89691   $4,766,462.82           -                      36937       38352
89692   $3,855,062.97           -                      37246       39082

[89693 rows x 18 columns]>

# STAGE 2: Data Structuring

When raw data is collected, it’s in a wide range of formats and sizes. It has no definite structure, which means that it lacks an existing model and is completely disorganized. It needs to be restructured to fit in with the Analytical Model deployed by your business, and giving it a structure allows for better analysis. 

Unstructured data is often text-heavy and contains things such as Dates, Numbers, ID codes, etc. At this stage of the Data Wrangling process, the dataset needs to be parsed.
https://hevodata.com/learn/data-wrangling/#s2

### Rename Columns - df.rename({})

In [ ]:
df_pollution_00 = df_pollution.rename({
                   'NAME':'State',
                   'COUNTRYAFF':'Country',
                   'CONTINENT':'Continent',
                   'RecordSequenceID':'Record',
                   'Longitude1':'Longitude',
                   'Latitude1':'Latitude',
                   'ShorelineName':'Adress',
                   'MonthNumber':'Month',
                   "SUM_FishingLineLureRope":"FishingLineLureRope",
                   "SUM_Foam_OtherPlasticDebris":"FoamOtherPlasticDebris",
                   "SUM_Hard_BucketOrCrate":"HardBucketOrCrate",   
                   "SUM_Hard_Lighter":"HardLighter",
                   "SUM_Hard_OtherPlasticBottle":"HardOtherPlasticBottle",
                   "SUM_Hard_PlasticBeverageBottle":"HardPlasticBeverageBottle",
                   "SUM_HardOrSoft_PlasticBottleCap":"HardOrSoftPlasticBottleCap",
                   "SUM_HardSoft_PersonalCareProduc":"HardSoftPersonalCareProduc",
                   "SUM_HardSoftLollipopStick_EarBu":"HardSoftLollipopStickEarBu",
                   "SUM_OtherHardPlastic":"OtherHardPlastic",
                   "SUM_OtherPlasticDebris":"OtherPlasticDebris",
                   "SUM_PlasticOrFoamFoodContainer":"PlasticOrFoamFoodContainer",
                   "SUM_PlasticOrFoamPlatesBowlsCup":"PlasticOrFoamPlatesBowlsCup",
                   "SUM_Soft_Bag":"SoftBag",
                   "SUM_Soft_CigaretteButts":"SoftCigaretteButts",
                   "SUM_Soft_OtherPlastic":"SoftOtherPlastic",
                   "SUM_Soft_Straw":"SoftStraw",
                   "SUM_Soft_StringRingRibbon":"SoftStringRingRibbon",
                   "SUM_Soft_WrapperOrLabel":"SoftWrapperOrLabel",
                   "Soft_Sheets2":"SoftSheets",
                   "PlasticStraps2":"PlasticStraps",
                   "FishingGlowSticks2":"FishingGlowSticks",
                   "FishingOtherPlasticDebris2":"FishingOtherPlasticDebris",
                   },
                  axis = 1
                  )

In [ ]:
####### Verify last action - Best practice
df_pollution_00.info()

### Rearrange Columns - df[[]]

In [ ]:
df02 = df_pollution_00[[
            'Record',
            'Longitude', 
            'Latitude', 
            'Continent',
            'Country',
            'State',
            'Adress', 
            'Year', 
            'HardPlasticBeverageBottle', 
            'HardOtherPlasticBottle',
            'HardOrSoftPlasticBottleCap', 
            'PlasticOrFoamFoodContainer',
            'HardBucketOrCrate', 
            'HardLighter', 
            'OtherHardPlastic',
            'PlasticOrFoamPlatesBowlsCup', 
            'HardSoftPersonalCareProduc',
            'HardSoftLollipopStickEarBu',
            'SoftBag', 
            'SoftWrapperOrLabel',
            'SoftStraw', 
            'SoftOtherPlastic', 
            'SoftCigaretteButts',
            'SoftStringRingRibbon', 
            'Fishing_Net', 
            'FishingLineLureRope',
            'Fishing_BuoysAndFloats',
            'FoamOtherPlasticDebris',
            'OtherPlasticDebris',
            'SoftSheets',
            'PlasticStraps',
            'FishingGlowSticks',
            'FishingOtherPlasticDebris']]

In [ ]:
####### Verify last action - Best practice
df02.info()

### Text Data Functions

In [ ]:
s = pd.Series(
    ['Srinivas', 'DATAhill', '9292005440','Hyderabad', 'info@datahill.in', 'dataanalysis', 'PYTHON','Pandas']
     )

# s.str.islower()
s = pd.Series(['hello', 'world', 'Python', 'is', 'AWESOME'])
print(s.str.islower())

#s.str.lower()
s = pd.Series(['Hello', 'WORLD', 'Python', 'is', 'AWESOME'])
s_lower = s.str.lower()
print(s_lower)

#s.str.isupper()
s = pd.Series(['HELLO', 'WORLD', 'Python', 'IS', 'AWESOME'])
print(s.str.isupper())

#s.str.upper()
s = pd.Series(['Hello', 'WORLD', 'Python', 'is', 'awesome'])
s_upper = s.str.upper()
print(s_upper)

#s.str.isnumeric()
s = pd.Series(['123', '45.6', '789', 'one', 'two', 'three'])
print(s.str.isnumeric())

#s.str.swapcase()
s = pd.Series(['aPPle', 'bAnaNa', 'CHERRY', 'dATE', 'ELDERBERRY'])
s_swapped_case = s.str.swapcase()
print(s_swapped_case)

#s.str.len()
s = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
s_length = s.str.len()
print(s_length)

#s.str.cat(sep='_')
s = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
s_concatenated = s.str.cat(sep='_')
print(s_concatenated)

#s.str.replace('@','$')
s = pd.Series(['example@domain.com', 'user@gmail.com', 'customer@yahoo.com'])
s_replaced = s.str.replace('@', '$')
print(s_replaced)

#s.str.repeat(2)
s = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
s_repeated = s.str.repeat(2)
print(s_repeated)

#s.str.count('s')
s = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
s_count = s.str.count('e')
print(s_count)

#s.str.startswith ('P')
s = pd.Series(['Python', 'Java', 'C++', 'Perl', 'PHP'])
s_starts_with_p = s.str.startswith('P')
print(s_starts_with_p)

#s.str.endswith('s')
s = pd.Series(['apple', 'banana', 'cherry', 'dates', 'elderberry'])
s_ends_with_s = s.str.endswith('s')
print(s_ends_with_s)

#### DELETE BLANK_SPACES (strip)
df_Mes['Mes'] = df_Mes['Mes'].str.strip()

#### SPLIT - .str.split

# Textual data usually contains multiple pieces of information.
# The str accessor of Pandas provides numerous function to perform such
# operations efficiently.

# The last characters represent the type of location. For instance, “st”
# stands for street and “dr” stands for drive. It can be a useful piece of
# information for grouping the addresses.

# Before:
    
melb.Address[:5] # melb 0 df, Address = Col
0        85 Turner St 
1     25 Bloomburg St 
2        5 Charles St 
3    40 Federation La 
4         55a Park St 
Name: Address, dtype: object

# After:
    
melb['Address'].str.split(' ').str[-1]
0    St 
1    St 
2    St 
3    La 
4    St

### Date & Time

In [ ]:
## Create date

# Frequence by Days
dates_d = pd.date_range('20191110', periods=10, freq='D')
# Frequence by Months
dates_m = pd.date_range('20191110', periods=10, freq='M')
# Create data with date
df = pd.DataFrame(random, index=dates_m, columns=list('ABCD'))

# Demistify timestamp format into datetime-categories
from datetime import datetime 
datetime.strptime('2018-04-29T17:45:25Z', '%Y-%m-%dT%H:%M:%SZ')

from dateutil.parser import parse
parse('2018-04-29T17:45:25Z')

import arrow 
arrow.get('2018-04-29T17:45:25Z').datetime

import moment
moment.date("tomorrow")

import maya
maya.parse('2018-04-29T17:45:25Z').slang_time()

# Datetime_tutorials
    # https://www.geeksforgeeks.org/python-datetime-module/

from datetime import date
today = date.today()
print("Today's date is", today)

from datetime import datetime
# Calling now() function
today = datetime.now()
print("Current date and time is", today)

# Convert datetime to string format
from datetime import datetime as dt
# Getting current date and time
now = dt.now()
string = dt.isoformat(now)
print(string)
print(type(string))

from datetime import date
today = date.today()
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

from datetime import time
Time = time(11, 34, 56)
print("hour =", Time.hour)
print("minute =", Time.minute)
print("second =", Time.second)
print("microsecond =", Time.microsecond)

from datetime import datetime
a = datetime(1999, 12, 12, 12, 12, 12)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

from datetime import datetime
# Getting Datetime from timestamp
date_time = datetime.fromtimestamp(1887639468)
print("Datetime from timestamp:", date_time)

# Calculating future dates
from datetime import datetime, timedelta
# Using current time
ini_time_for_now = datetime.now()
# printing initial_date
print("initial_date", str(ini_time_for_now))
# Calculating future dates for two years
future_date_after_2yrs = ini_time_for_now + timedelta(days=730)
future_date_after_2days = ini_time_for_now + timedelta(days=2)
# printing calculated future_dates
print('future_date_after_2yrs:', str(future_date_after_2yrs))
print('future_date_after_2days:', str(future_date_after_2days))

# Difference between two date and times
from datetime import datetime, timedelta
# Using current time
ini_time_for_now = datetime.now()
# printing initial_date
print("initial_date", str(ini_time_for_now))
# Some another datetime
new_final_time = ini_time_for_now + \
    timedelta(days=2)
# printing new final_date
print("new_final_time", str(new_final_time))
# printing calculated past_dates
print('Time difference:', str(new_final_time -
                              ini_time_for_now))

# Apply date format to datetime operations
from datetime import datetime as dt
# Getting current date and time
now = dt.now()
print("Without formatting", now)
# Example 1
s = now.strftime("%A %m %-Y")
print('\nExample 1:', s)
# Example 2
s = now.strftime("%a %-m %y")
print('\nExample 2:', s)
# Example 3
s = now.strftime("%-I %p %S")
print('\nExample 3:', s) 
# Example 4
s = now.strftime("%H:%M:%S")
print('\nExample 4:', s)

# import datetime module from datetime
from datetime import datetime
# consider the time stamps from a list  in string
# format DD/MM/YY H:M:S.micros
time_data = ["25/05/99 02:35:8.023", "26/05/99 12:45:0.003",
             "27/05/99 07:35:5.523", "28/05/99 05:15:55.523"] 
# format the string in the given format : day/month/year 
# hours/minutes/seconds-micro seconds
format_data = "%d/%m/%y %H:%M:%S.%f"
# Using strptime with datetime we will format string
# into datetime
for i in time_data:
    print(datetime.strptime(i, format_data))
# Timezone_tutorials
    # https://www.geeksforgeeks.org/python-pytz/

import datetime as dt
from datetime import datetime, date, time, timedelta

path = r'C:\Users\Asus VivoBook\Dropbox\My PC (DESKTOP-GN5CQHE)\Documents\My Studies\PowerUp Institute\Python\week 04\BDTienda.csv'
df = pd.read_csv(path,sep=',',header=0,index_col=False,
                 encoding='latin-1',engine='python',
                 parse_dates=['Order Date','Ship Date'])


# STAGE 3: Data Cleaning

Most people use the words Data Wrangling and Data Cleaning interchangeably. However, these are two very different processes. Although a complex process in itself, Cleaning is just a single aspect of the overall Data Wrangling process.

For the most part, raw data comes with a lot of errors that have to be cleaned before the data can move on to the next stage. Data Cleaning involves Tackling Outliers, Making Corrections, Deleting Bad Data completely, etc. This is done by applying algorithms to tidy up and sanitize the dataset.

Cleaning the data does the following:

It removes outliers from your dataset that can potentially skew your results when analyzing the data. 
It changes any null values and standardizes the data format to improve quality and consistency.
It identifies duplicate values and standardizes systems of measurements, fixes structural errors and typos, and validates the data to make it easier to handle.

https://hevodata.com/learn/data-wrangling/#s2

In [ ]:
####### Read the df and Consult the Schema
df_pollution = df_csv
df_pollution.info()

Most people use the words Data Wrangling and Data Cleaning interchangeably. However, these are two very different processes. Although a complex process in itself, Cleaning is just a single aspect of the overall Data Wrangling process.

For the most part, raw data comes with a lot of errors that have to be cleaned before the data can move on to the next stage. Data Cleaning involves Tackling Outliers, Making Corrections, Deleting Bad Data completely, etc. This is done by applying algorithms to tidy up and sanitize the dataset.

Cleaning the data does the following:

It removes outliers from your dataset that can potentially skew your results when analyzing the data. 
It changes any null values and standardizes the data format to improve quality and consistency.
It identifies duplicate values and standardizes systems of measurements, fixes structural errors and typos, and validates the data to make it easier to handle.

https://hevodata.com/learn/data-wrangling/#s2

In [10]:
# Get rid unnecesary Columns

df_pollution.drop(["X", "Y",
                 "StartTime",
                 "OBJECTID", 
                 "UniqueID", 
                 "SourceID", 
                 "LocationFreqID", 
                 "Location", 
                 "Dataset", 
                 "Organization", 
                 "Other", 
                 "CountryName_FromSource", 
                 "SubCountry_L1_FromSource", 
                 "SubCountry_L2_FromSource", 
                 "Longitude2", 
                 "Latitude2", 
                 "TotalWidth_m", 
                 "TotalLength_m", 
                 "TotalArea_Sq_m", 
                 "WaterfrontName", 
                 "BeachAreaLandcover", 
                 "BeachType", 
                 "TotalVolunteers",
                 "DateOriginal", 
                 "DateStandardized", 
                 "MonthYear", 
                 "Month", 
                 "Day", 
                 "FieldObsevations", 
                 "DebrisDescription", 
                 "Totalltems_EventRecord", 
                 "TotalClassifiedItems_EC2020", 
                 "PCT_PlasticAndFoam", 
                 "PCT_Glass_Rubber_Lumber_Metal", 
                 "COUNTRY", 
                 "ISO_CODE", 
                 "ISO_CC", 
                 "ISO_SUB", 
                 "ADMINTYPE", 
                 "DISPUTED", 
                 "NOTES", 
                 "AUTONOMOUS", 
                 "LAND_TYPE", 
                 "LAND_RANK", 
                 "Shape__Area", 
                 "Shape__Length", 
                 "Count_",
                 "EventType"], 
                axis=1, inplace=True)

In [11]:
####### Verify Columns Deletion - Best practice
df_pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54388 entries, 0 to 54387
Data columns (total 35 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   RecordSequenceID                 54388 non-null  int64
 1   Longitude1                       54388 non-null  float64
 2   Latitude1                        54388 non-null  float64
 3   ShorelineName                    4539 non-null   object
 4   Year                             54388 non-null  int64
 5   MonthNum                         54388 non-null  int64
 6   DOW                              54388 non-null  object
 7   SUM_Hard_PlasticBeverageBottle   54388 non-null  int64
 8   SUM_Hard_OtherPlasticBottle      54388 non-null  int64
 9   SUM_HardOrSoft_PlasticBottleCap  54388 non-null  int64
 10  SUM_PlasticOrFoamFoodContainer   53580 non-null  float64
 11  SUM_Hard_BucketOrCrate           54388 non-null  int64
 12  SUM_Hard_Lighter                 53302 non-null  float64
 13  SUM_OtherHardPlastic             54388 non-null  int64
 14  SUM_PlasticOrFoamPlatesBowlsCup  54388 non-null  int64
 15  SUM_HardSoft_PersonalCareProduc  54388 non-null  int64
 16  SUM_HardSoftLollipopStick_EarBu  54388 non-null  int64
 17  SUM_Soft_Bag                     54388 non-null  int64
 18  SUM_Soft_WrapperOrLabel          54388 non-null  int64
 19  SUM_Soft_Straw                   53489 non-null  float64
 20  SUM_Soft_OtherPlastic            54388 non-null  int64
 21  SUM_Soft_CigaretteButts          53849 non-null  float64
 22  SUM_Soft_StringRingRibbon        54388 non-null  int64
 23  Fishing_Net                      54388 non-null  int64
 24  SUM_FishingLineLureRope          54388 non-null  int64
 25  Fishing_BuoysAndFloats           54388 non-null  int64
 26  SUM_Foam_OtherPlasticDebris      54388 non-null  int64
 27  SUM_OtherPlasticDebris           51970 non-null  float64
 28  NAME                             53716 non-null  object
 29  COUNTRYAFF                       53716 non-null  object
 30  CONTINENT                        53716 non-null  object
 31  Soft_Sheets2                     54388 non-null  int64
 32  PlasticStraps2                   54388 non-null  int64
 33  FishingGlowSticks2               54388 non-null  int64
 34  FishingOtherPlasticDebris2       54388 non-null  int64
dtypes: float64(7), int64(23), object(5)
memory usage: 14.5+ MB

### Null Values - df.isna().sum()

In [12]:
#### Detect & Summarize <Null Values>
nulls = df_pollution.isna().sum()
nulls

RecordSequenceID                       0
Longitude1                             0
Latitude1                              0
ShorelineName                      49849
Year                                   0
MonthNum                               0
DOW                                    0
SUM_Hard_PlasticBeverageBottle         0
SUM_Hard_OtherPlasticBottle            0
SUM_HardOrSoft_PlasticBottleCap        0
SUM_PlasticOrFoamFoodContainer       808
SUM_Hard_BucketOrCrate                 0
SUM_Hard_Lighter                    1086
SUM_OtherHardPlastic                   0
SUM_PlasticOrFoamPlatesBowlsCup        0
SUM_HardSoft_PersonalCareProduc        0
SUM_HardSoftLollipopStick_EarBu        0
SUM_Soft_Bag                           0
SUM_Soft_WrapperOrLabel                0
SUM_Soft_Straw                       899
SUM_Soft_OtherPlastic                  0
SUM_Soft_CigaretteButts              539
SUM_Soft_StringRingRibbon              0
Fishing_Net                            0
SUM_FishingLineLureRope                0
Fishing_BuoysAndFloats                 0
SUM_Foam_OtherPlasticDebris            0
SUM_OtherPlasticDebris              2418
NAME                                 672
COUNTRYAFF                           672
CONTINENT                            672
Soft_Sheets2                           0
PlasticStraps2                         0
FishingGlowSticks2                     0
FishingOtherPlasticDebris2             0
dtype: int64

In [ ]:
# Verify last action - Best Practrice
validate_NA_values = df_pollution.isna().sum()
validate_NA_values

### Replace Null Values - fillna()      {parameters: <"NA",0>}

In [13]:
#### Method_01:
# Fill <empty_values> with <NA>
# This action applies for Columns whose attributes are "objects", this means they keep string values)
df_pollution["ShorelineName"].fillna("NA", inplace = True)
df_pollution["NAME"].fillna("NA", inplace = True)
df_pollution["COUNTRYAFF"].fillna("NA", inplace = True)
df_pollution["CONTINENT"].fillna("NA", inplace = True)

In [ ]:
#### Method_02:
# Fill <empty_values> with <0>
df_pollution["SUM_PlasticOrFoamFoodContainer"].fillna(0, inplace=True)
df_pollution["SUM_Hard_Lighter"].fillna(0, inplace=True)
df_pollution["SUM_Soft_Straw"].fillna(0, inplace=True)
df_pollution["SUM_Soft_CigaretteButts"].fillna(0, inplace=True)
df_pollution["SUM_OtherPlasticDebris"].fillna(0, inplace=True)

In [ ]:
###### Verify last action - Best Practice
validate_NA_values = df_pollution.isna().sum()
validate_NA_values
# alternatively, the following snippet produce the same result 
# df01_na_values_T_or_F = df01_na_values >= 1

### Eliminate Null Values - dropna()
df.dropna()

In [ ]:
### Drop Duplicates - df.drop.duplicates
Delete Duplicate Values = "Project Name"
new_df = df.drop_duplicates(subset='Project Name')

In [ ]:
### Remove Outliers
low = np.quantile(marketing.Salary, 0.05)
high = np.quantile(marketing.Salary, 0.95)
marketing = marketing[marketing.Salary.between(low, high)]

# STAGE 4: Data Enriching

At this stage of the Data Wrangling process, you’ve become familiar with, and have a deep understanding of the data at hand. 

Now the question is, do you want to embellish or enrich the data? Do you want it augmented with other data?

Combining your raw data with additional data from other sources such as internal systems, third-party providers, etc. will help you accumulate even more data points to improve the accuracy of your analysis. Alternatively, your goal might be to simply fill in gaps in the data. For instance, combining two databases of customer information where one contains customer addresses, and the other one doesn’t. 

Enriching the data is an optional step that you only need to take if your current data doesn’t meet your requirements.

https://hevodata.com/learn/data-wrangling/#s2

### Calculated Columns

In [22]:
df02['Total_PCare'] = df02['HardSoftPersonalCareProduc']

df02['Total_CigLig'] = df02['SoftCigaretteButts'] + df02['HardLighter']

df02['Total_Bags'] = df02['SoftBag'] + df02['SoftSheets'] + df02['SoftWrapperOrLabel']

df02['Total_HF_Plast'] = df02['HardOtherPlasticBottle'] + df02['PlasticOrFoamFoodContainer'] + df02['HardPlasticBeverageBottle'] + df02['HardOrSoftPlasticBottleCap'] + df02['HardBucketOrCrate'] + df02['PlasticOrFoamPlatesBowlsCup']  

df02['Total_PDebris'] = df02['HardSoftLollipopStickEarBu'] + df02['SoftStraw'] + df02['OtherPlasticDebris'] + df02['SoftOtherPlastic'] + df02['FoamOtherPlasticDebris'] + df02['OtherHardPlastic']
                                          
df02['Total_FishProd'] = df02['SoftStringRingRibbon'] + df02['Fishing_BuoysAndFloats'] + df02['Fishing_Net'] + df02['FishingGlowSticks'] + df02['FishingLineLureRope'] + df02['FishingOtherPlasticDebris'] + df02['PlasticStraps']

df02['Totales_Absolutos'] = df02['HardSoftPersonalCareProduc'] + df02['SoftCigaretteButts'] + df02['HardLighter'] + df02['SoftBag'] + df02['SoftSheets'] + df02['SoftWrapperOrLabel'] + df02['HardOtherPlasticBottle'] + df02['PlasticOrFoamFoodContainer'] + df02['HardPlasticBeverageBottle'] + df02['HardOrSoftPlasticBottleCap'] + df02['HardBucketOrCrate'] + df02['PlasticOrFoamPlatesBowlsCup'] + df02['HardSoftLollipopStickEarBu'] + df02['SoftStraw'] + df02['OtherPlasticDebris'] + df02['SoftOtherPlastic'] + df02['FoamOtherPlasticDebris'] + df02['OtherHardPlastic'] + df02['SoftStringRingRibbon'] + df02['Fishing_BuoysAndFloats'] + df02['Fishing_Net'] + df02['FishingGlowSticks'] + df02['FishingLineLureRope'] + df02['FishingOtherPlasticDebris'] + df02['PlasticStraps'] 

#### Aggregation Functions

### Obteniendo la media agrupada por ShipName
df_gr_1 = df.groupby('ShipeName')['Quantity'].mean()

### Diferentes funciones de Agregacion median(), value_counts(normalize=True)
df_gr_2 = df.groupby('ShipName')['Quantity'].agg([min, max, sum, np.mean])

### Agrupando por 2 Variables ShipName & ShipperName y dif agregaciones
df_gr_3 = df.groupby('ShipName, ShipperName')['Quantity'].agg([min, max, sum, np.mean])

### Agrupando por 2 Variables e indicando el tipo de agregacion a cada variable
df_gr_4 = df.groupby('ShipName, ShipperName')[['Quantity', 'UnitPrice']].agg({'Quantity':['sum'], 'UnitPrice':['mean']})

C:\Users\Asus VivoBook\AppData\Local\Temp\ipykernel_19520\3665055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02['Total_PCare'] = df02['HardSoftPersonalCareProduc']

### Drop Duplicate Values - df.drop_duplicates()

In [ ]:
df_dup_1 = df.drop_duplicates(subset='ShipName')
df_dup_2 = df.drop_duplicates(subset=['ShipName','Salesperson'])

### Pivot Tables - df.pivot_table()

In [ ]:
pivot_table = df.pivot_table('SalesAmount', index='ShipCountry', columns='ShipperName',aggfunc=[np.sum])

### Rellenando los vacios con 0 y agregando totales
pivot_table = df.pivot('SalesAmount', index='ShipCountry',columns='ShipperName',aggfunc=[np.median, np.sum], fill_value=0, margins=True)

In [23]:
####### Verify last action - Best practice
df02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54388 entries, 0 to 54387
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Record                       54388 non-null  int64
 1   Longitude                    54388 non-null  float64
 2   Latitude                     54388 non-null  float64
 3   Continent                    54388 non-null  object
 4   Country                      54388 non-null  object
 5   State                        54388 non-null  object
 6   Adress                       54388 non-null  object
 7   Year                         54388 non-null  int64
 8   HardPlasticBeverageBottle    54388 non-null  int64
 9   HardOtherPlasticBottle       54388 non-null  int64
 10  HardOrSoftPlasticBottleCap   54388 non-null  int64
 11  PlasticOrFoamFoodContainer   54388 non-null  float64
 12  HardBucketOrCrate            54388 non-null  int64
 13  HardLighter                  54388 non-null  float64
 14  OtherHardPlastic             54388 non-null  int64
 15  PlasticOrFoamPlatesBowlsCup  54388 non-null  int64
 16  HardSoftPersonalCareProduc   54388 non-null  int64
 17  HardSoftLollipopStickEarBu   54388 non-null  int64
 18  SoftBag                      54388 non-null  int64
 19  SoftWrapperOrLabel           54388 non-null  int64
 20  SoftStraw                    54388 non-null  float64
 21  SoftOtherPlastic             54388 non-null  int64
 22  SoftCigaretteButts           54388 non-null  float64
 23  SoftStringRingRibbon         54388 non-null  int64
 24  Fishing_Net                  54388 non-null  int64
 25  FishingLineLureRope          54388 non-null  int64
 26  Fishing_BuoysAndFloats       54388 non-null  int64
 27  FoamOtherPlasticDebris       54388 non-null  int64
 28  OtherPlasticDebris           54388 non-null  float64
 29  SoftSheets                   54388 non-null  int64
 30  PlasticStraps                54388 non-null  int64
 31  FishingGlowSticks            54388 non-null  int64
 32  FishingOtherPlasticDebris    54388 non-null  int64
 33  Total_PCare                  54388 non-null  int64
 34  Total_CigLig                 54388 non-null  float64
 35  Total_Bags                   54388 non-null  int64
 36  Total_HF_Plast               54388 non-null  float64
 37  Total_PDebris                54388 non-null  float64
 38  Total_FishProd               54388 non-null  int64
 39  Totales_Absolutos            54388 non-null  float64
dtypes: float64(11), int64(25), object(4)
memory usage: 16.6+ MB

### Freezepanes - df.set_index()

In [ ]:
df_01 = df.set_index('ShipName')
df_01 = df.set_index(['ShipName','ShipperName'])

### Selection Columns by Label  - df.loc()

In [ ]:
#### Select Columns (.LOC & .iLOC)
# The loc function is used to select columns by names. As usual, the values before the coma stand for the rows and after refer to the column. We need to use the brackets to select more than one column.
# The iloc is used for accessing the particular rows and columns by integer index.

#### .LOC (Locate)
# Filtering the Dataset based on labels
# The following line is an example which filters the data from Row 00 until
#  Row 02
df_America.loc[0:2]

In [ ]:
#### Selection Columns by Label - df.loc
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html
df_02 = df_01.loc[['QUICK-Stop','Rancho grande']]
df_07 = df.iloc[:,[0,1]]
df_08 = df.iloc[1:100,[0,1]]
df_09 = df.iloc[[100,200,300,400] , 0:4]

### Select Specific Columns

In [ ]:
df_03 = df.loc[:,['ShipName','ShipAddress']]
df_04 = df_01.loc[['QUICK-Stop','Rancho grande'],['ShipAddress','ShipRegion']]

### Selection Columns by Position - df.iloc()

In [ ]:
#### .ILOC 
# There is another method to select multiple rows and columns in Pandas. 
# You can use iloc[]. This method uses the index instead of the columns name.
# .Iloc allow us to select data based on the position
df_America_loc02 = df_America.iloc[[100,200]]

# Select Columns by Var & by Index
df_America_loc03 = df_America.iloc[:,[0,1]]

# Select by intersect and index
# Obtain the first 100 rows from America DataSet, including Index plus
# 2 Attributes
df_America_loc04 = df_America.iloc[1:100,[0,1]]

# # Obtain rows (100, 200, 300, 400)  from America DataSet,
# including Index plus 4 columns (attributes)
df_America_loc05 = df_America.iloc[[100,200,300,400] , 0:4]

In [ ]:
#### Selection Columns by Position
df_05 = df.iloc[1:100] # TOP 100

In [ ]:
#### Select range - df.iloc
df_06 = df.iloc[[100,200]]

### Filter Datasets

In [ ]:
df[['ProductID','CustomerID']] # Poner 2 SquareBrackets nos permite seguir ingresando mas columnas hacia la derecha
df.loc[:,['ProductID', 'CustomerID']]
result_2 = df[df['ProductID'] > 50] 

# Filtering using Logical Ops (and / or / not / isin)
df_fil_3 = df[df['ShipName']=='LILA-Supermercado']
df_fil_3 = df[(df['ShipName']=='LILA-Supermercado') & (df['ProductID']==30)]

# isin # Nos permite realizar busquedas especificas
df_fil_4 = df[df['ShipName'].isin(['LILA-Supermercado','Familia Arquibaldo'])]

# np.logical_and // np.logical_or // np.logical_not # Customize your filters by rank
df_fil_5 = df[np.logical_and(df['ProductID']>=50,df['ProductID']<=60)]
df_fil_6 = df[np.logical_not(df['ProductID']>=50)]
df_fil_7 = df[np.logical_not(df['ProductID']>=50)][['ShipName','ShipAddress']]
df_fil_8 = df.loc[np.logical_not(df['ProductID']>=50),['ShipName','ShipAddress']]

### Filter Top 10 (Discrete Objects)

In [ ]:
# Macro Analysis
# Top 10
# nlargest is a pandas method that returns the first n rows ordered by columns in descending order.
plasticbottle01 = df02.nlargest(10,'HardPlasticBeverageBottle')
plasticbottle02 = df02.nlargest(10,'HardOtherPlasticBottle')
plasticbottle03 = df02.nlargest(10,'HardOrSoftPlasticBottleCap')

### Sort Values - df.sort()

In [ ]:
### Ordenando de forma ascendente
sort1 = df.sort_values('ProductID')

### Ordenando de forma descendente
sort2 = df.sort_values('ProductID', ascending=False)

### Ordenando por Multiples Columnas
sort3 = df.sort_values(['ProductID', 'OrderID'])

### Ordenando por multiples columnas y descendente y ascendente
sort4 = df.sort_values(['ProductID', 'OrderID'], ascending=[False, True])
sort4 = df.sort_values(['ProductID', 'OrderID'], ascending=[False, True])

### Ordenando por el indice
sort5 = df.set_index('ShipName').sort_index()

### Gruop By - df[[]].groupby()

In [ ]:
# Group by + with 1 condition
df[['Gender','Exited']].groupby('Gender').mean()

# Group by + 2 conditions
df[['Gender','Exited']].groupby('Gender').agg(['mean','count'])

# Group by 2 + 1 condition
df[['Gender','Geography','Exited']].groupby(['Gender','Geography']).mean()

# Group by 2 + Sort Asc
df[['Gender','Geography','Exited']].groupby(['Gender','Geography']).mean()
.sort_values(by='Exited')

# Group by 2 + Sort Desc
df[['Gender','Geography','Exited']].groupby(['Gender','Geography']).mean()
.sort_values(by='Exited', ascending=False)

### If - Elif - Else

In [ ]:
lista1 = []

for producto in df['Product ID']:
    if producto >=50:
        lista1.append(True)
    else:
        lista1.append(False)
        
len(lista1)
        
fil_1 = pd.Series(lista1)
        
df_new = df[fil_1]

# ============================================================================
# IF con una condiciion a cumplirse y un resultado para cuando no se cumple
# ============================================================================

x = 10

### IF con una condicion

if x <12:
    print('10 es menor que 12')


### IF con una condicion a cumplir y cuando no se cumple

if x < 9:
    print('10 es menor que 9')
else:
    print('10 no es menor que 12')
    
### IF anidado que evalue la cantidad de varuiables condicionales

if x > 11 and x < 20:
    print('10 es mayor que 11 y menor que 20')
elif x > 5 or x < 9:
    print('10 es mayor que 5 o menor que 9')
else:
    print('Nose cumple ningun criterio')
    
# Example_02

lst = [4, 5, 6, 8, 10]
i = 6

if i in lst:
	print("Yes 6 is present in the list")
else:
	print("No 6 is not present in the list")

### Bucles For

In [ ]:
for columna, fila in df.iterrows():
    df.loc[columna, 'ShipCityCopia'] = fila['ShipCity'].upper()
    
print(df.head())

df['ShipCityCopia2'] = df['ShipCity'].apply(len)

for columna, fila in df.iterrows():
    df.loc[columna, 'ShipCityCopia'] = fila['ShipCity'].upper()

print(df.head())

df['ShipCityCopia2'] = df['ShipCity'].apply(len)

### Lists [ ]
####### You use lists to store or organize data in a sequential order. 
####### This data can be a string, numbers, or iterables like a list.
####### A list is also mutable, which means that it can expand and change after you declare it (you add new elements to it).

In [ ]:
Lista_1 = ["Dayana", "Juan", "Roger", "Antonio"]
Lista_2 = ["Luis", 90, "Gerald", 40, "Anthony", 30]

#### Insert Values into a list (extend, insert, append)

# Method 01 extend (Inserts multiple objects at the time)
Lista_2.extend(["Esteban", 20])
Lista_2
# Method 02
Lista_2 = Lista_2 + ["Celeste", 10]
# Method 03 insert ((Inserts multiple objects at the time))
Lista_2.insert(11, "Hola")
print(Lista_2)
# Method 04 append (Inserts 1 object at the time)
Lista_2.append('Snowflake')
print(Lista_2)

#### Remove Values from a list (remove)

Lista_2.remove("Hola")
print(Lista_2)

#### Remove Values by Position (remove)
# Elimina los 2 elementos q se encuentren anteriores al ultimo
del(Lista_2[-2:])
print(Lista_2)

#### Position of an element within a list (index)

print(Lista_2.index("Anthony"))
print(Lista_2[4:6])

# The below exercise helps us to get an letter from an object in a list
# 1st index is associated to an object
# 2nd index refers to the 
favorites = ['raindrops', 'roses', 'whiskers', 'snowflakes']
print(favorites[-2][-3])
# Inversely if we need to get the last object
# Note: Index [0] acts for the 1st object solely.
favorites[-1]
favorites[1]

#### A List composed by multiple lists

Lista_3 = [["Antonio", 80], ["Luis", 90], ["Gerald,40"], ["Esteban", 20]]

#### Number of items in a list(len.function)
# The len() function returns the number of items in an object
len(Lista_3)

#### Adding Lists

Morph_list = favorites + Lista_3

#### Convert two lists into a Dictionary (zip, dict)

name = ["Dave", "Jerry", "Sasha"]
score = [43, 56, 78]
result = zip(name, score)
type(result)
dict = dict(result)

#### Add Index using the enumerate function

l1 = ["eat", "sleep", "repeat"]
s1 = "geek"
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
print ("Return type:", type(obj1))
print (list(obj1))
# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

# Count the number of times the values in an iterable occurs (counter)
from collections import Counter
lst = ["Free", "Code", "Camp", "Code", "Free"]
print(Counter(lst))


#### LISTS

#### LIST [ ] - Create
# The following list is conformed by 5 Romanian institutions.
# This specifi selection allow us to review contextual results and/or metrics.
Romanian_list = ["BANCA ROMANA PENTRU DEZVOLTARE",
          "MINISTRY OF PUBLIC  FINANCE",
          "BANCA ROMANA PENTRU DEZVOLTARE",
          "TRANSELECTRICA S.A",
          "TERMOELECTRICA S.A"]
# Print the list in order to verify the countries we are going to investigate.
print(Romanian_list)
# The following options allow us to consult the position in which a country is
# stored within the list.
print(Romanian_list[1])
print(Romanian_list[-3])

#### LIST - Append (Add)
# Sometimes we need to expand our range of study, in that way we can use the 
# command append to include a new country within our list, for future querys.

Romanian_list.append("NUOVO AMANECER ROMANO")
# Lets verify if this recent was stored succesfully.
print(Romanian_list)

#### LIST - Insert
# Insert a category into an specific position within the list.
Romanian_list.insert(2,"GRATIA OMNIPOTENTIS")
print(Romanian_list)

#### LIST - Extend
# Insert multiple categories
Romanian_list.extend(["IMPERIO_ROMANO_01", "IMPERIO_ROMANO_02", "IMPERIO_ROMANO_03"])
print(Romanian_list)

#### LIST - Index
# Index provides the exact position of a category within the list.
print(Romanian_list.index("IMPERIO_ROMANO_02"))

#### LIST - In
# From time to time we shall need to consult if a category is located within 
# an specific list. In order to accomplish that we shouls use the command In.
# Lets the results of the following 2 querys:
print("NUOVO AMANECER ROMANO" in Romanian_list)
print("ARCADIA" in Romanian_list)

#### LIST - Remove
# Often we must delete categories derived from business affairs or perhaps the 
# Headquarters decides to unify varios categories into one unique cluster.
# For those cases we can take advantage of the following command:
Romanian_list.remove("IMPERIO_ROMANO_01")
print(Romanian_list)

#### LIST - POP
# The instruction Pop allow us to eliminate categories from the last position
# until the first position, one by one.
# So the following actions permit us to delete all those records wee dont need
# anymore and set the list conform with the original categories that came from
# the rawdata.

Romanian_list.pop()
print(Romanian_list)
Romanian_list.pop()
print(Romanian_list)
Romanian_list.pop()
print(Romanian_list)

Romanian_list.remove("BANCA ROMANA PENTRU DEZVOLTARE")
print(Romanian_list)

Romanian_list.remove("GRATIA OMNIPOTENTIS")
print(Romanian_list)

#### LIST - Concatenate
# Sometimes we need to melt 2 Regions into 1 new Region/GeoCluster
# We can use the following code to transform 2 regions into an unique 
# Geo_Cluster.

Serbia_list = ["PRESIDENT, MONTENEGRO BANKA DD",
               "NAFTAGAS KOMBINAT NAFTNE IND"
               ]
Serbia_list
EuroCluster = Romanian_list + Serbia_list
print(EuroCluster)

#### LIST - multiply
## Multiply the list on its own by 3 times.

Triple_EuroCluster = EuroCluster * 3
print(Triple_EuroCluster)

### Tuples ( )
####### A tuple is another data collection type in Python. 
####### You also use it to store and organize data in the form of a list.
####### The only difference is that it is immutable, which means it cannot expand (you can't add new elements to it) like a list.

In [ ]:
Tupla_1 = ("Gerald", 40, "Marlon", 20, "Luis", 10)
Tupla_2 = (("Gerald", 40), ("Marlon", 20), ("Luis", 10))

#### Position of an element within a Tuple []

Tupla_1[1]

Tupla_2[1]

#### Convert a Tuple into a List

lista_4 = list(Tupla_1)
type(lista_4)

Tupla_3 = tuple(lista_4)
type(Tupla_3)

#### Consult an object within a tuple (by Name)

print("Gerald" in Tupla_1)

#### Qty of values in a Tuple (len)

print(len(Tupla_3))

### Dictionaries { }
####### A dictionary is a Python collection that stores data as key-value pairs.
####### You can create a dictionary using curly braces. Also dictionaries are mutable.

In [ ]:
estudiantes = {"Juan": "Python", "Luis Diego": "RStudio", "Roger": "SQL"}
type(estudiantes)

#### Consult Dictionary Keys (keys)

estudiantes.keys()

#### Consult Pair_Values associated to a Key

estudiantes["Juan"]

#### Add New Key_Value_Pairs

estudiantes["Esteban"] = "Julia"

del estudiantes["Esteban"]

#### # A Dictionary made by multiple dictionaries

equipo = {"Dayana": {"Curso": "RPA", "Nota": 90},
          "Gerald": {"Curso": "R", "Nota": 100}}

#### # Add a Dictionary into a Dictionary

equipo["Esteban"] = {"Curso": "Python", "Nota": 80}

print(equipo)


#### DICTIONARIES
# We can also think of a DataFrame as a specialization of a dictionary. Where
# a dictionary maps a key to a value, a DataFrame maps a column name to a
# series of column data. (Python Data Science Handbook, Ed. 2006, pg 103)

American_nations = {1: "Guatemala",
                    2: "Mexico",
                    3: "Peru",
                    4: "Uruguay",
                    5: "Venezuela"
                    }

Rest_of_the_world = {1: "Romania",
                     2: "Russain Federation",
                     3: "Serbia",
                     4: "Turkia",
                     5: "Ukraine"
                     }

#### PPRINT
# The command Pprint executes vertical result on the console pane, in that way
# we can observe results in a more clear and sorted way.
pprint.pprint(American_nations, width=-1)
pprint.pprint(Rest_of_the_world, width=-1)

#### DICTIONARY - { } - Create
# Similarly to lists, dictionaries is a powerful customization tool that allow
# us to sort groups of data within a cluster/label.
America_portfolio = {"Mexico": "DF", "Guatemala":"Peten", "Venezuela":"Bolivar", "Peru":"Arequipa"}
print(America_portfolio)

# 02 Additional method about how to create a Dictionary

keys = ["Russian Federation", "Serbia", "Turkey"]
values = ["Leningrado", "Belgrado", "Estambul"]
Euro_portfolio = dict((zip(keys,values)))
Euro_portfolio

#### DICTIONARY - Add
# I almost forgot to include a pair of countries within the Euro dictionary
Euro_portfolio["Romania"]="Bucarest"
Euro_portfolio["Ukraine"]="Kiev"
Euro_portfolio

#### DICTIONARY - Mod
Euro_portfolio["Ukraine"]="Odesa"
Euro_portfolio

#### DICTIONARY - Delete
# Delete a wrong record.
del Euro_portfolio["Ukraine"]
Euro_portfolio

#### DICTIONARY - Keys
# Check the Dictionary´s keys.
Euro_portfolio.keys()

#### DICTIONARY - Examples

# Example_01:
    
def show_info_about_item(chosen_item="phone"):
  info_dict = {
    "phone": "Handheld communication device",
    "car": "Self-propelled ground vehicle",
    "dinosaur": "Extinct lizard"
  }
  
  return info_dict.get(chosen_item, "No info available")

# Example_02:
    
def add_one(x):
  return x + 1

def divide_by_two(x):
  return x/2

def square(x):
  return x**2

def invalid_op(x):
  raise Exception("Invalid operation")

# The better way:
def perform_operation(x, chosen_operation="add_one"):
  ops = {
    "add_one": add_one,
    "divide_by_two": divide_by_two,
    "square": square
  }
  
  chosen_operation_function = ops.get(chosen_operation, invalid_op)
  
  return chosen_operation_function(x)

### Functions

####### There are 3 types of Funcions: 
#######    Functions with No Arguments
#######    Functions with One-Single Argument
#######    Functions with Multiple Arguments.
####### Resources: https://www.kaggle.com/code/alexisbcook/functions

#### Functions with No Arguments

In [ ]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

#### Functions with One-Single Argument

In [ ]:
### EXAMPLE_01 
    
# Step_02: Define the function
# The add_three() function below accepts any number, adds three to it, and then returns the result.
def add_three(input_var): # input_var  is a <single_argument>
    output_var = input_var + 3
    return output_var   

# Step_03: Run the function with 10 as input
new_number = add_three(10)
# Check that the value is 13, as expected
print(new_number)  

### EXAMPLE_02 

# Calculate a weekly paycheck after taxes.
# They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and
# They're paid hourly, at a rate of $15/hour.
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax

# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

### EXAMPLE_03 

def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

print(evaluate_temp(37))
print(evaluate_temp(39))

### EXAMPLE_04 

def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

print(evaluate_temp_with_else(37))

### EXAMPLE_05 

def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

evaluate_temp_with_elif(36)

### EXAMPLE_06 

def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

### EXAMPLE_07 

def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

print(get_dose(12))

#### Functions with Multiple Arguments.

In [ ]:
### EXAMPLE_01

# get_pay_with_more_inputs() function below, which calculates a weekly paycheck based on three arguments:
# num_hours - number of hours worked in one week
# hourly_wage - the hourly wage (in $/hour)
# tax_bracket - percentage of your salary that is removed for taxes

def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

### Loops
####### Loops: A loop is a piece of code that runs over and over again until the condition is false.

In [ ]:
my_tuple = (2, 3, 4, 6, 10, 12)
my_new_lst = []
for i in my_tuple:
    if i % 3 == 0:
        my_new_lst.append(i)
print(my_new_lst)

### Append - df.append()

In [ ]:
path = r('C:\Users\Asus VivoBook\Dropbox\My PC (DESKTOP-GN5CQHE)\Documents\My Studies\PowerUp Institute\Python\week 01\Tiendas\vta_2014.csv')
path = r('C:\Users\Asus VivoBook\Dropbox\My PC (DESKTOP-GN5CQHE)\Documents\My Studies\PowerUp Institute\Python\week 01\Tiendas\vta_2013.csv')
ap1 = pd.read_csv(path1,sep=',',header=0,index_col=False,encoding='Latin-1',engine='python')
ap2 = pd.read_csv(path2,sep=',',header=0,index_col=False,encoding='Latin-1',engine='python')

### Append anexa de forma vertical y deja valores repetidos
ap3 = ap1.append(ap2).reset_index(drop=True)

### Concatenate  - pd.concatenate()

In [ ]:
### Concatenar al nivel de la fila
ap4 = pd.concat([ap1,ap2],ignore_index=True, axis=0)

### concatenar a nivel de columna
ap5 = pd.concat([ap1,ap2],ignore_index=True, axis=1))

### Joins

In [ ]:
# =============================================================
#### JOIN - MERGE
# =============================================================

path3 = r'C:\Users\Asus VivoBook\Dropbox\My PC (DESKTOP-GN5CQHE)\Documents\My Studies\PowerUp Institute\Python\week 01\Tiendas\vta_2014.csv')
Precios = pd.ExcelFile(path3).parse(sheet_name='Precios',header=0,index_col=[0,1])
Existencias = pd.ExcelFile(path3).parse(sheet_name='Existencias',header=0,index_col=[0,1])
Catalogo = pd.ExcelFile(path3).parse(sheet_name='Catalogo',header=0,index_col=[0,1])

# ============================================================
# JOIN -- MERGE
# ============================================================
path = r'C:\Users\Asus VivoBook\Dropbox\My PC (DESKTOP-GN5CQHE)\Documents\My Studies\PowerUp Institute\Python\week 04\Combinar Consultas.csv')
Existencias = pd.ExcelFile(path3).parse(sheet_name='Existencias',header=0,index_col=[0,1])
Catalogo = pd.ExcelFile(path3)

########## UNIENDO POR UNA COLUMNA

Inner1 = pd.merge(Existencias,Precios,on = 'Codigo')

########## UNIENDO POR UNA LLAVE EN LAS COLUMNAS (2 O mas)

iNNER2 = pd.merge(Existencias,Precios,on = 'Codigo','Descripcion')

########## UNIENDO LAS COLUMNAS SI SE LLAMARN DIFERENTES

Inner3 = pd.merge(Existencias,Precios,
                  left_on='Codigo',
                  right_on='Codigo')

#### LEFT JOIN

Left1 = pd.merge(Existencias,Precios,
                  left_on='Codigo',
                  right_on='Codigo'
                 how='left').reset_index()


#### RIGHT JOIN

Right1 = pd.merge(Existencias,Precios,
                  left_on='Codigo',
                  right_on='Codigo'
                 how='right')
                 
#### FULL OUTER JOIN 
Outer11 = pd.merge(Existencias,Precios,
                  left_on='Codigo',
                  right_on='Codigo'
                 how='outer')

### Subsets

In [25]:
# Macro Analysis_01
# Subsets_TOTALES BY CATEGORIES
# Sort DESC
Subset_TOTALS = df02[['Longitude','Latitude','Continent','Country','State','Year','Total_PCare', 'Total_CigLig', 'Total_Bags', 'Total_HF_Plast', 'Total_PDebris', 'Total_FishProd']]
dfsortedbyTOTALS = Subset_TOTALS.sort_values(['Total_PCare', 'Total_CigLig', 'Total_Bags', 'Total_HF_Plast', 'Total_PDebris', 'Total_FishProd'],ascending=False)
dfsortedbyTOTALS.head(10)

,Longitude,Latitude,Continent,Country,State,Year,Total_PCare,Total_CigLig,Total_Bags,Total_HF_Plast,Total_PDebris,Total_FishProd
47537,119.98110,15.32586,Asia,Philippines,Zambales,2018,43074,107413.0,571492,621716.0,236213.0,32919
41879,119.90968,15.76393,Asia,Philippines,Zambales,2018,40815,91363.0,525644,575261.0,246275.0,31751
43440,120.98112,14.57938,Asia,Philippines,National Capital Region,2018,37500,22680.0,297860,29496.0,7560.0,11606
47519,120.98120,14.57202,Asia,Philippines,National Capital Region,2018,26155,20756.0,234609,197791.0,173515.0,31382
11413,0.01915,5.64315,Africa,Ghana,Greater Accra,2016,25124,32067.0,202483,711736.0,41091.0,7516
42857,34.40541,-13.70671,Africa,Malawi,Salima,2018,17255,8020.0,53148,57230.0,14919.0,12459
51253,-80.88443,-2.20830,South America,Ecuador,Santa Elena,2018,16758,48850.0,156794,307610.0,107055.0,17697
40910,34.84820,-14.01708,Africa,Malawi,Mangochi,2018,16420,4378.0,9502,2400.0,1729.0,2861
23063,-0.09544,5.58214,Africa,Ghana,Greater Accra,2017,13984,37128.0,110521,488155.0,23086.0,3241
28938,120.81721,14.28012,Asia,Philippines,Cavite,2017,13212,23596.0,107853,107855.0,71610.0,7929

In [58]:
# Macro Analysis_02
# Subsets_ABSOLUTE TOTALS
Subset_Absolute_Totals = df02[['Longitude','Latitude','Continent','Country','State','Year','Month','Totales_Absolutos']]
dfsortedbyAbsolute_Totales = Subset_Absolute_Totals.sort_values(['Totales_Absolutos'],ascending=False)
dfsortedbyAbsolute_Totales.head(10)

,Longitude,Latitude,Continent,Country,State,Year,Month,Totales_Absolutos
50184,-0.18886,5.61601,Africa,Ghana,Greater Accra,2018,9,26420613.0
50190,0.89120,5.78178,Africa,Ghana,Volta,2018,9,11188848.0
50182,-0.22500,5.52906,Africa,Ghana,Greater Accra,2018,9,6915964.0
50181,-0.09813,5.57944,Africa,Ghana,Greater Accra,2018,9,6876445.0
50185,0.76960,5.77169,Africa,Ghana,Volta,2018,9,4298362.0
50188,-1.98369,10.88397,Africa,Ghana,Upper West,2018,9,3804013.0
50186,0.73716,5.77198,Africa,Ghana,Volta,2018,9,3104601.0
50180,0.01925,5.64319,Africa,Ghana,Greater Accra,2018,9,1972616.0
50187,0.68846,5.88012,Africa,Ghana,Volta,2018,9,1730375.0
47537,119.98110,15.32586,Asia,Philippines,Zambales,2018,9,1612827.0

In [26]:
# Macro Analysis 03
# Filter by Continent and Year
dfTOTALS_filtered_Continent_YY = dfsortedbyTOTALS.set_index(['Continent','Year'])
dfTOTALS_filtered_Continent_YY

                    Longitude  Latitude        Country  \
Continent     Year
Asia          2018  119.98110  15.32586    Philippines
              2018  119.90968  15.76393    Philippines
              2018  120.98112  14.57938    Philippines
              2018  120.98120  14.57202    Philippines
Africa        2016    0.01915   5.64315          Ghana
...                       ...       ...            ...
Asia          2018  102.13667   2.27628       Malaysia
              2018  102.13667   2.27628       Malaysia
North America 2018  -76.96442  38.89483  United States
              2018  -76.96442  38.89483  United States
              2018  -79.03804  35.75197  United States

                                      State  Total_PCare  Total_CigLig  \
Continent     Year
Asia          2018                 Zambales        43074      107413.0
              2018                 Zambales        40815       91363.0
              2018  National Capital Region        37500       22680.0
              2018  National Capital Region        26155       20756.0
Africa        2016            Greater Accra        25124       32067.0
...                                     ...          ...           ...
Asia          2018                   Melaka            0           0.0
              2018                   Melaka            0           0.0
North America 2018     District of Columbia            0           0.0
              2018     District of Columbia            0           0.0
              2018           North Carolina            0           0.0

                    Total_Bags  Total_HF_Plast  Total_PDebris  Total_FishProd
Continent     Year
Asia          2018      571492        621716.0       236213.0           32919
              2018      525644        575261.0       246275.0           31751
              2018      297860         29496.0         7560.0           11606
              2018      234609        197791.0       173515.0           31382
Africa        2016      202483        711736.0        41091.0            7516
...                        ...             ...            ...             ...
Asia          2018           0             0.0            0.0               0
              2018           0             0.0            0.0               0
North America 2018           0             0.0            0.0               0
              2018           0             0.0            0.0               0
              2018           0             0.0            0.0               0

[54388 rows x 10 columns]

In [27]:
# Macro Analysis 04
# Filter by Country and Year
dfTOTALS_filtered_Country_YY = dfsortedbyTOTALS.set_index(['Country','Year'])
dfTOTALS_filtered_Country_YY

                    Longitude  Latitude      Continent  \
Country       Year
Philippines   2018  119.98110  15.32586           Asia
              2018  119.90968  15.76393           Asia
              2018  120.98112  14.57938           Asia
              2018  120.98120  14.57202           Asia
Ghana         2016    0.01915   5.64315         Africa
...                       ...       ...            ...
Malaysia      2018  102.13667   2.27628           Asia
              2018  102.13667   2.27628           Asia
United States 2018  -76.96442  38.89483  North America
              2018  -76.96442  38.89483  North America
              2018  -79.03804  35.75197  North America

                                      State  Total_PCare  Total_CigLig  \
Country       Year
Philippines   2018                 Zambales        43074      107413.0
              2018                 Zambales        40815       91363.0
              2018  National Capital Region        37500       22680.0
              2018  National Capital Region        26155       20756.0
Ghana         2016            Greater Accra        25124       32067.0
...                                     ...          ...           ...
Malaysia      2018                   Melaka            0           0.0
              2018                   Melaka            0           0.0
United States 2018     District of Columbia            0           0.0
              2018     District of Columbia            0           0.0
              2018           North Carolina            0           0.0

                    Total_Bags  Total_HF_Plast  Total_PDebris  Total_FishProd
Country       Year
Philippines   2018      571492        621716.0       236213.0           32919
              2018      525644        575261.0       246275.0           31751
              2018      297860         29496.0         7560.0           11606
              2018      234609        197791.0       173515.0           31382
Ghana         2016      202483        711736.0        41091.0            7516
...                        ...             ...            ...             ...
Malaysia      2018           0             0.0            0.0               0
              2018           0             0.0            0.0               0
United States 2018           0             0.0            0.0               0
              2018           0             0.0            0.0               0
              2018           0             0.0            0.0               0

[54388 rows x 10 columns]

In [28]:
# Macro Analysis 05
Subset_TOTALS = df02[['Longitude','Latitude','Continent','Country','State','Adress','Year','Total_PCare', 'Total_CigLig', 'Total_Bags', 'Total_HF_Plast', 'Total_PDebris', 'Total_FishProd']]
Subset_TOTALS

,Longitude,Latitude,Continent,Country,State,Adress,Year,Total_PCare,Total_CigLig,Total_Bags,Total_HF_Plast,Total_PDebris,Total_FishProd
0,-123.435585,38.690549,North America,United States,California,Blackpoint Beach,2015,0,0.0,2,2.0,19.0,1
1,-123.484406,38.728707,North America,United States,California,Dune Drift Beach,2015,1,0.0,0,1.0,15.0,0
2,-123.456400,38.713200,North America,United States,California,Ohlson Beach,2015,0,0.0,0,0.0,0.0,0
3,-123.490915,38.735105,North America,United States,California,Walk On Beach,2015,0,1.0,2,0.0,5.0,0
4,-124.462100,42.714900,North America,United States,Oregon,Rocky Point,2015,0,4.0,0,7.0,881.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54383,-124.100770,41.252420,North America,United States,California,NA,2015,0,0.0,20,0.0,5.0,10
54384,-124.163890,40.863150,North America,United States,California,NA,2015,0,10.0,4,18.0,2.0,4
54385,-124.149530,40.865560,North America,United States,California,NA,2015,10,305.0,95,150.0,350.0,70
54386,-124.126110,40.959180,North America,United States,California,NA,2015,0,48.0,28,40.0,8.0,1
54387,-124.132120,40.934250,North America,United States,California,NA,2015,0,59.0,29,16.0,85.0,7

In [30]:
# Verify last action commited
plasticbottle01.head(3)

,Record,Longitude,Latitude,Continent,Country,State,Adress,Year,HardPlasticBeverageBottle,HardOtherPlasticBottle,...,PlasticStraps,FishingGlowSticks,FishingOtherPlasticDebris,Total_PCare,Total_CigLig,Total_Bags,Total_HF_Plast,Total_PDebris,Total_FishProd,Totales_Absolutos
11122,13428,-100.39581,20.62067,North America,Mexico,Querétaro,NA,2016,500385,0,...,0,0,0,0,0.0,0,500385.0,0.0,0,500385.0
47537,54850,119.98110,15.32586,Asia,Philippines,Zambales,NA,2018,122576,82804,...,3108,0,0,43074,107413.0,571492,621716.0,236213.0,32919,1612827.0
41879,48645,119.90968,15.76393,Asia,Philippines,Zambales,NA,2018,113280,78750,...,2871,0,0,40815,91363.0,525644,575261.0,246275.0,31751,1511109.0

### Convert List into Arrays (with Numpy)

In [31]:
plasticbottlelista01 = np.array(plasticbottle01)
plasticbottlelista02 = np.array(plasticbottle02)
plasticbottlelista03 = np.array(plasticbottle03)

In [32]:
# Verify prior action commited
type(plasticbottlelista01)

numpy.ndarray

### Stack Arrays

In [33]:
plasticbottles = np.column_stack((plasticbottlelista01,plasticbottlelista02,plasticbottlelista03))
plasticbottles

array([[13428, -100.39581, 20.62067, ..., 236213.0, 32919, 1612827.0],
       [54850, 119.9811, 15.32586, ..., 246275.0, 31751, 1511109.0],
       [48645, 119.90968, 15.76393, ..., 41091.0, 7516, 1020017.0],
       ...,
       [54197, -79.5305, 8.97657, ..., 182505.0, 10267, 641876.0],
       [54840, 117.44223, 8.50225, ..., 173515.0, 31382, 684208.0],
       [48346, -76.79695, 17.96452, ..., 127097.0, 6980, 420480.0]],
      dtype=object)

In [34]:
df02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54388 entries, 0 to 54387
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Record                       54388 non-null  int64
 1   Longitude                    54388 non-null  float64
 2   Latitude                     54388 non-null  float64
 3   Continent                    54388 non-null  object
 4   Country                      54388 non-null  object
 5   State                        54388 non-null  object
 6   Adress                       54388 non-null  object
 7   Year                         54388 non-null  int64
 8   HardPlasticBeverageBottle    54388 non-null  int64
 9   HardOtherPlasticBottle       54388 non-null  int64
 10  HardOrSoftPlasticBottleCap   54388 non-null  int64
 11  PlasticOrFoamFoodContainer   54388 non-null  float64
 12  HardBucketOrCrate            54388 non-null  int64
 13  HardLighter                  54388 non-null  float64
 14  OtherHardPlastic             54388 non-null  int64
 15  PlasticOrFoamPlatesBowlsCup  54388 non-null  int64
 16  HardSoftPersonalCareProduc   54388 non-null  int64
 17  HardSoftLollipopStickEarBu   54388 non-null  int64
 18  SoftBag                      54388 non-null  int64
 19  SoftWrapperOrLabel           54388 non-null  int64
 20  SoftStraw                    54388 non-null  float64
 21  SoftOtherPlastic             54388 non-null  int64
 22  SoftCigaretteButts           54388 non-null  float64
 23  SoftStringRingRibbon         54388 non-null  int64
 24  Fishing_Net                  54388 non-null  int64
 25  FishingLineLureRope          54388 non-null  int64
 26  Fishing_BuoysAndFloats       54388 non-null  int64
 27  FoamOtherPlasticDebris       54388 non-null  int64
 28  OtherPlasticDebris           54388 non-null  float64
 29  SoftSheets                   54388 non-null  int64
 30  PlasticStraps                54388 non-null  int64
 31  FishingGlowSticks            54388 non-null  int64
 32  FishingOtherPlasticDebris    54388 non-null  int64
 33  Total_PCare                  54388 non-null  int64
 34  Total_CigLig                 54388 non-null  float64
 35  Total_Bags                   54388 non-null  int64
 36  Total_HF_Plast               54388 non-null  float64
 37  Total_PDebris                54388 non-null  float64
 38  Total_FishProd               54388 non-null  int64
 39  Totales_Absolutos            54388 non-null  float64
dtypes: float64(11), int64(25), object(4)
memory usage: 16.6+ MB

In [36]:
# Sorted by Date:
dfsortedbydate = df02.sort_values(['Year'])
dfsortedbydate

,Record,Longitude,Latitude,Continent,Country,State,Adress,Year,HardPlasticBeverageBottle,HardOtherPlasticBottle,...,PlasticStraps,FishingGlowSticks,FishingOtherPlasticDebris,Total_PCare,Total_CigLig,Total_Bags,Total_HF_Plast,Total_PDebris,Total_FishProd,Totales_Absolutos
0,349,-123.435585,38.690549,North America,United States,California,Blackpoint Beach,2015,1,0,...,0,0,0,0,0.0,2,2.0,19.0,1,24.0
4435,5413,-5.031618,50.465769,Europe,United Kingdom,England,Mawgan Porth,2015,0,3,...,3,0,0,0,1.0,6,10.0,81.0,47,145.0
4436,5414,12.854800,55.856000,Europe,Sweden,Skåne,"Lundåkrahamnen Dammhagen, 26135 Landskrona, Suède",2015,50,0,...,0,0,0,0,0.0,10,60.0,50.0,0,120.0
4442,5420,-1.523722,43.528582,Europe,France,Aquitaine,La Barre,2015,76,0,...,0,0,0,16,1.0,22,126.0,937.0,39,1141.0
4443,5421,-1.202890,45.001000,Europe,France,Aquitaine,"4 All?e Pierre Ortal, 33680 Lacanau, France",2015,0,0,...,0,0,1,0,20.0,25,60.0,311.0,35,451.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37690,43570,-70.380660,43.463190,North America,United States,Maine,NA,2018,0,0,...,0,0,0,0,56.0,4,4.0,49.0,6,119.0
37689,43569,-91.168170,30.421870,North America,United States,Louisiana,NA,2018,6,0,...,0,0,0,2,1.0,11,17.0,24.0,0,55.0
37688,43568,-82.551770,27.856510,North America,United States,Florida,NA,2018,15,0,...,0,0,0,0,26.0,29,73.0,45.0,5,178.0
37710,43590,-87.189510,30.324010,North America,United States,Florida,NA,2018,1,0,...,0,0,0,1,223.0,4,104.0,49.0,1,382.0
38009,43931,-72.558950,41.001230,North America,United States,New York,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,0.0,0,0.0

In [37]:
# Sorted by Continent/Country/State
dfsortedbyGeo = df02.sort_values(['Continent', 'Country', 'State'])
dfsortedbyGeo

,Record,Longitude,Latitude,Continent,Country,State,Adress,Year,HardPlasticBeverageBottle,HardOtherPlasticBottle,...,PlasticStraps,FishingGlowSticks,FishingOtherPlasticDebris,Total_PCare,Total_CigLig,Total_Bags,Total_HF_Plast,Total_PDebris,Total_FishProd,Totales_Absolutos
44001,51042,3.08381,36.73636,Africa,Algeria,Alger,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,1.0,0,1.0
2495,3360,2.20266,36.61160,Africa,Algeria,Tipaza,"PLAGE TIZIRINE CHERCHELL, 42100 Cherchell, Alg...",2015,900,0,...,0,0,0,40,70.0,1100,1510.0,400.0,0,3120.0
2606,3477,2.20224,36.62160,Africa,Algeria,Tipaza,Mr Belkheira Mohammed Cite 20 Aout 1955 Bt /P ...,2016,3000,0,...,0,0,10,20,5.0,100,3335.0,85.0,45,3590.0
25242,29245,-23.51632,14.90296,Africa,Cabo Verde,Praia,NA,2017,37,0,...,12,0,0,2,0.0,134,161.0,300.0,24,621.0
36018,41481,-24.98783,16.89366,Africa,Cabo Verde,São Vicente,NA,2018,1,0,...,0,0,0,0,1.0,1,1.0,0.0,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50403,57724,-71.64049,10.74462,South America,Venezuela,Zulia,NA,2018,100,656,...,0,0,0,0,0.0,156,1939.0,1527.0,2,3624.0
50404,57725,-71.66144,10.76681,South America,Venezuela,Zulia,NA,2018,43,22,...,4,0,0,12,24.0,86,284.0,81.0,61,548.0
50405,57726,-71.59065,10.66022,South America,Venezuela,Zulia,NA,2018,1040,160,...,8,0,0,14,11.0,177,2160.0,356.0,22,2740.0
50406,57727,-71.59678,10.68916,South America,Venezuela,Zulia,NA,2018,381,14,...,0,0,0,0,4.0,126,1324.0,1282.0,1,2737.0
50407,57728,-71.59545,10.68478,South America,Venezuela,Zulia,NA,2018,458,94,...,0,0,0,45,59.0,686,3504.0,935.0,25,5254.0

In [38]:
# Sorted by Categories (Figures ASC/DESC)
dfsortedbyCategories = df02.sort_values(by=['HardPlasticBeverageBottle', 'HardOtherPlasticBottle',
       'HardOrSoftPlasticBottleCap', 'PlasticOrFoamFoodContainer',
       'HardBucketOrCrate', 'HardLighter', 'OtherHardPlastic',
       'PlasticOrFoamPlatesBowlsCup', 'HardSoftPersonalCareProduc',
       'HardSoftLollipopStickEarBu', 'SoftBag', 'SoftWrapperOrLabel',
       'SoftStraw', 'SoftOtherPlastic', 'SoftCigaretteButts',
       'SoftStringRingRibbon', 'Fishing_Net', 'FishingLineLureRope',
       'Fishing_BuoysAndFloats', 'FoamOtherPlasticDebris',
       'OtherPlasticDebris',"SoftSheets","PlasticStraps","FishingGlowSticks","FishingOtherPlasticDebris"],
                                        ascending=False)
dfsortedbyCategories

,Record,Longitude,Latitude,Continent,Country,State,Adress,Year,HardPlasticBeverageBottle,HardOtherPlasticBottle,...,PlasticStraps,FishingGlowSticks,FishingOtherPlasticDebris,Total_PCare,Total_CigLig,Total_Bags,Total_HF_Plast,Total_PDebris,Total_FishProd,Totales_Absolutos
11122,13428,-100.39581,20.62067,North America,Mexico,Querétaro,NA,2016,500385,0,...,0,0,0,0,0.0,0,500385.0,0.0,0,500385.0
47537,54850,119.98110,15.32586,Asia,Philippines,Zambales,NA,2018,122576,82804,...,3108,0,0,43074,107413.0,571492,621716.0,236213.0,32919,1612827.0
41879,48645,119.90968,15.76393,Asia,Philippines,Zambales,NA,2018,113280,78750,...,2871,0,0,40815,91363.0,525644,575261.0,246275.0,31751,1511109.0
11413,13720,0.01915,5.64315,Africa,Ghana,Greater Accra,NA,2016,76741,90246,...,609,0,0,25124,32067.0,202483,711736.0,41091.0,7516,1020017.0
24628,28562,-80.44189,8.64607,North America,Panama,Coclé,NA,2017,60000,3574,...,117,0,0,291,380.0,7898,70517.0,14720.0,3605,97411.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50138,57457,102.13667,2.27628,Asia,Malaysia,Melaka,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,0.0,0,0.0
50139,57458,102.13667,2.27628,Asia,Malaysia,Melaka,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,0.0,0,0.0
53031,60356,-76.96442,38.89483,North America,United States,District of Columbia,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,0.0,0,0.0
53032,60357,-76.96442,38.89483,North America,United States,District of Columbia,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,0.0,0,0.0
53704,61031,-79.03804,35.75197,North America,United States,North Carolina,NA,2018,0,0,...,0,0,0,0,0.0,0,0.0,0.0,0,0.0

### Summarize Figures

In [51]:
Total_HealthCare = df02['Total_PCare'].sum()
Total_CigLig = df02['Total_CigLig'].sum()
Total_Bags = df02['Total_Bags'].sum()
Total_HF_P = df02['Total_HF_Plast'].sum()
Total_FishProd = df02['Total_FishProd'].sum()
Total_PDebris = df02['Total_PDebris'].sum()
Final_Summary = np.array(['Total_PDebris','Total_FishProd','Total_HF_P','Total_Bags','Total_CigLig ','Total_HealthCare'])
print(Final_Summary)
print(Total_CigLig)
print(Total_Bags)
print(Total_FishProd)
print(Total_PDebris)
print(Total_HealthCare)

['Total_PDebris' 'Total_FishProd' 'Total_HF_P' 'Total_Bags'
 'Total_CigLig ' 'Total_HealthCare']
12087685.0
11079490
1723788
82868549.0
687821

In [52]:
type(Total_PDebris)

numpy.float64

In [55]:
print('$ ' + str(Total_PDebris))

$82868549.0

In [61]:
print('Total_PDebris amount is: ' + str(Total_PDebris))
print('Total_FishProd amount is: ' + str(Total_FishProd))
print('Total_HF_P amount is: ' + str(Total_HF_P))
print('Total_Bags amount is: ' + str(Total_Bags))
print('Total_CigLig amount is: ' + str(Total_CigLig))
print('Total_HealthCare amount is: ' + str(Total_HF_P))

Total_PDebris amount is: 82868549.0
Total_FishProd amount is: 1723788
Total_HF_P amount is: 19545031.0
Total_Bags amount is: 11079490
Total_CigLig amount is: 12087685.0
Total_HealthCare amount is: 19545031.0

### Arrays (Vectors) with Numpy
####### https://numpy.org/doc/stable/user/absolute_beginners.html

In [ ]:
# =============================================================
#### ARRAYS aka VECTORS
# =============================================================
# With respect to Python, a vector is a one-dimensional array of lists.

#### UNIDIMENSIONAL Arrays
array_01 = np.array([1,2,3,4,5])
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])

#### Array_Dimension (shape)
array_01.shape

#### Array_Dimension (size)
array_01.size

#### Sort Arrays
np.sort(arr)

#### Array_Indexes
array_01[0]
print("Hello", "...this is are the results after computing today´s workload:", array_01[1], array_01[4])
array_01[-1]

# Create Custom Arrays
array_empty = np.zeros((3,3))
array_ones = np.ones((3,3))
array_full = np.full((3,3), 5)
array_random = np.random.randn(10,4)
arraylinspace= np.linspace(0, 10, num=5)
arraylinspace

#### Optimizing byte_datasize
arrayint64 = np.ones(2, dtype=np.int64)
arrayint64.dtype
arrayint64 = np.ones(2, dtype=np.int32)
arrayint64.dtype
arrayint64 = np.ones(2, dtype=np.int16)
arrayint64.dtype

#### Define a random array with (np.ceil and np.floor)
b = np.array([-1.7, -1.5, -0.2, 0.2, 1.5, 1.7, 2.0])
b
c = np.ceil(b)
c
d = np.floor(b)
d

#### Extract the nearest int which is closer to zero (np.trunc)
e = np.trunc(b)
e

#### Round elements of the array to the nearest integer. (np.rint)
f = np.rint(b)
f

#### Round to nearest integer towards zero.
g = np.fix(3.14)
g

#### Evenly round to the given number of decimals.
h = np.round(16.055, 2)
h

i = np.around([0.37, 1.64], decimals=1)
i

j = np.around([.5, 1.5, 2.5, 3.5, 4.5]) # rounds to nearest even value
j

k = np.around([1,2,3,11], decimals=-1)
k


#### BIDIMENSIONAL Arrays
calificaciones = np.array(
    [
    [60,80,83,80,69,70],
    [0.10, 0.10, 0.10, 0.20, 0.20, 0.30]
    ]
    )

calificaciones.shape

#### Bidimensional Arrays composed by a sequence of values (arange) 
array_02 = np.arange(1,16)

#### Reshaping_Array_Dimensions (reshape)
array_03 = array_02.reshape(3,5)

#### Arrays composed by random values (randbetween)
# Lets create a pair of arrays with randbetween values (1000 values, 2 decimals)
x = np.round(np.random.normal(1.5, 0.05, 1000), 2)
y = np.round(np.random.normal(50.1, 5, 1000), 1)

#### Locate values in Bidimensional Arrays

# Locate values as follows: < : >(on both arrays), positions 2 and 3 (range 2-4)
calificaciones[:,2:4]  
# Display <0> (array 0), <:> all values
notas2 = calificaciones[0,:]

#### Merge Arrays
# Condition: Arrays must share the same dimensions
xy = np.column_stack((x,y))

#### Convert Array_Values from one type to another (dtype)
array_floats= array_01 = np.array([1,2,3,4,5], dtype=float)

#### Convert Lists into Arrays
# 01 Lets begin defining a pair of lists
Notas = [60,80,83,80,69,70]
Porcentaje = [0.10, 0.10, 0.10, 0.20, 0.20, 0.30]
# 02 Convert into Arrays
np_notas = np.array(Notas)
np_porcentaje = np.array(Porcentaje)

#### Convert Arrays into DataFrames
# Arrays contain similar types of objects or elements whereas DataFrame can have objects or multiple or similar data types.

## Numpy to pandas
h = np.array([[1,2],[3,4]])
df_h = pd.DataFrame(h)
print(df_h)
## Pandas to numpy
df_h_n = np.array(df_h)
print(df_h_n)

#### Create Random List
#  Parameters: 10 random values, conditions = Min=1, Max=6)
rolls = np.random.randint(low=1, high=6, size=10)
rolls
type(rolls)
print(dir(rolls))
help(rolls.mean)
rolls.mean()

#### Convert an Array into a List
rolls.tolist()

#### Arrays Arithmetical Ops 
a = np_notas[np_notas > 80]

# Multiplicar las notas x los %
desglose_promedio = np_notas * np_porcentaje

# Utilizamos la funcion Sum para validar la suma de la matriz
Nota_Final = sum(desglose_promedio)
print(sum(desglose_promedio))

#### Find dissimilar objects (setdiff1d)
# Lets create a apair of arrays:
d = np.array([1,2,3,4,5,6,7,8])
e = np.array([1,2,3,6,7,8])
# 
f = np.setdiff1d(d,e)
print(f)

#### Find homologous (counterpart) values (intersect1d)
g = np.intersect1d(d,e)
print(g)

#### Encode / Decode

import base64

# 01. Encode
encoded = base64.b64encode(b'Hello')
print(encoded)
# 02. Decode
data = base64.b64decode(encoded)
print(data)

# STAGE 5: Data Publishing

By this time, all the steps are completed and the data is ready for analytics. All that’s left is to publish the newly Wrangled Data in a place where it can be easily accessed and used by you and other stakeholders. 

You can deposit the data into a new architecture or database. As long as you completed the other processes correctly, the final output of your efforts will be high-quality data that you use to gain insights, create business reports, and more. 

You might even further process the data to create larger and more complex data structures such as Data Warehouses. At this point, the possibilities are endless.

### Writing Files

In [ ]:
df_csv.to_csv("C:\\Users\\Asus VivoBook\\Dropbox\\My PC (DESKTOP-GN5CQHE)\\Desktop\\Documentos\\The Vault\\Python\\PyWD\\test_Output.csv'") 
# You can also setup additional customizations as follows: 
    # Omit header and add delimiters: 
        # df.to_csv("c:/tmp/courses.csv", header=False, sep='|')
    # Append the DataFrame to an existing CSV File:
        # df.to_csv("c:/tmp/courses.csv", header=False, sep='|', index=False, mode='a')

### Pushing Jupyter Notebooks in Github/Gitlab

To save Jupyter Notebooks in GitHub automatically, you can follow these general steps:

Create a new repository in your GitHub account to store your Jupyter Notebooks.

Install Git on your computer if it's not already installed.

Open the Jupyter Notebook that you want to save to GitHub.

In Jupyter, go to the "File" menu and select "Save As".

Choose a location on your computer to save the notebook and give it a name.

Open a terminal or command prompt and navigate to the directory where you saved the notebook.

Initialize a Git repository in this directory using the command "git init".

Add the notebook file to the Git repository using the command "git add <filename>".

Commit the changes using the command "git commit -m 'Initial commit'" or any other descriptive message.

Link the local Git repository with the remote GitHub repository using the command "git remote add origin <remote repository URL>".

Push the changes to the remote repository using the command "git push -u origin master" or "git push" if the branch is already created.

After following these steps, your Jupyter Notebook should be saved to your GitHub repository automatically. Whenever you make changes to the notebook, you can simply add, commit and push those changes to GitHub.
    
###### Copyright: https://chat.openai.com/chat , Feb-19-2023 , 20:34 CST.

# Annexes:

### 01. Data Wrangling Best Practices
https://hevodata.com/learn/data-wrangling/#s2

### Help Function - help()

In [ ]:
print(dir(pd))
help(pd.__loader__)

### Print Function - print(' ')

In [ ]:
print('hello world')

print('hello', 'world', sep=None)

print('hello', 'world', sep=' ')

print('hello', 'world')

print('hello', 'world', sep='\n')

print('home', 'user', 'documents', sep='/')

print(*['jdoe is', 42, 'years old'])

print('line1\nline2\nline3')

value = print('hello world')
print(value)

### Type()

In [ ]:
# Two ways about how to consult the Data Type, lets see the difference
type(df_America['Loan Status'])
type(df_America[['Loan Status']])